/* Header Right Side Menu //////////*/
.menu,
.menu ul,
.menu ul li,
.menu ul li a,
.menu #menu-button {
    margin: 0;
    padding: 0;
    border: 0;
    list-style: none;
    line-height: 1;
    display: block;
    /*  position: relative;
    */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.menu:after,
.menu > ul:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}

.menu #menu-button {
    display: none;
}

.menu {
    font-family: 'Poppins', sans-serif;
}

.menu ul {
    float: left;
}

.menu > ul > li {
    float: left;
}

.menu.align-center > ul {
    font-size: 0;
    text-align: center;
}

.menu.align-center > ul > li {
    display: inline-block;
    float: none;
}

.menu.align-center ul ul {
    text-align: left;
}

.menu.align-right > ul > li {
    float: right;
}

.menu > ul > li > a {
    padding: 17px 10px 17px;
    font-size: 16px;
    font-weight: 400;
    text-decoration: none;
    color: #fff;
    font-weight: normal;
    font-family: "Harriet Display";
}

.menu > ul > li > a:hover {
    color: rgba(255, 255, 255, 0.6);
}

.menu > ul > li.has-sub > a {
    padding-right: 30px;
}

.menu > ul > li.has-sub > a:after {
    position: absolute;
    top: 25px;
    right: 15px;
    width: 8px;
    height: 2px;
    display: block;
    background: #ccc;
    content: '';
    display: none;
}

.menu > ul > li.has-sub > a:before {
    position: absolute;
    top: 22px;
    right: 18px;
    display: block;
    width: 2px;
    height: 8px;
    background: #ccc;
    content: '';
    display: none;
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.menu > ul > li.has-sub:hover > a:before {
    top: 23px;
    height: 0;
}

.menu .sub-menu {
    position: absolute;
    left: -9999px;
    background: #EAF5ED;
    z-index: 999;
}

#header .menu .sub-menu li a {
    text-transform: initial;
    font-size: 18px;
}

.menu.align-right ul ul {
    text-align: right;
}

.menu ul ul li {
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.menu li:hover > ul {
    left: auto;
}

.menu.align-right li:hover > ul {
    left: auto;
    right: 0;
}

.menu li:hover > ul > li {
    /* height: 35px;*/
    display: block;
    width: 100%;
}

.menu ul ul ul {
    margin-left: 100%;
    top: 0;
    background: none;
    padding-top: 0px;
}

.menu.align-right ul ul ul {
    margin-left: 0;
    margin-right: 100%;
}

.menu ul ul li a {
    border-bottom: 1px solid rgba(150, 150, 150, 0.15);
    /* width: 170px;*/
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    /*background:rgba(0,0,0,0.8);*/
}

.menu ul ul li:last-child > a,
.menu ul ul li.last-item > a {
    border-bottom: 0;
}

.menu ul ul li.has-sub > a:after {
    position: absolute;
    top: 16px;
    right: 11px;
    width: 8px;
    height: 2px;
    display: block;
    background: #dddddd;
    content: '';
}

.menu.align-right ul ul li.has-sub > a:after {
    right: auto;
    left: 11px;
}

.menu ul ul li.has-sub > a:before {
    position: absolute;
    top: 13px;
    right: 14px;
    display: block;
    width: 2px;
    height: 8px;
    background: #dddddd;
    content: '';
    -webkit-transition: all .25s ease;
    -moz-transition: all .25s ease;
    -ms-transition: all .25s ease;
    -o-transition: all .25s ease;
    transition: all .25s ease;
}

.menu.align-right ul ul li.has-sub > a:before {
    right: auto;
    left: 14px;
}

.menu ul ul > li.has-sub:hover > a:before {
    top: 17px;
    height: 0;
}

.submenu-button {
    display: none;
}

.menu > ul > li.has-sub > a {
    padding-right: 10px;
}

/*.menu ul ul.two-col { width:75%; float:none; left:0; right:0; top:100px; margin:15px auto; overflow:hidden;
padding-bottom:30px; height:auto; padding:0; }
.menu ul ul.two-col li { width:50%; float:left; }
.menu ul ul.one-col { width:45%; left:0; right:0; top:100px; margin:15px auto; overflow:hidden; padding:0; }

.menu ul ul.two-col li.blank, .menu ul ul.one-col li.blank { width:100%; }*/
.menu ul ul {
    display: table;
    width: 300px;
}

.menu ul ul li a {
    font-size: 16px;
    border: none;
    padding: 13px 50px 13px 20px;
    display: block;
    height: auto;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    line-height: inherit;
    font-family: "Harriet Display";
}

.menu ul ul li a:hover {
    background: url(../img/sub-menu-arrow.png) no-repeat right center;
}

.mobile-view {
    display: none;
}

/* Header Top Bar Menu  //////////*/
.nav-second {
    margin: 0;
    padding: 0;
    list-style: none;
    float: right;
    clear: inherit;
}

.nav-second li {
    margin: 0;
    padding: 0 10px;
    text-transform: uppercase;
    float: left;
}

.nav-second > ul > li > a {
    padding: 5px 13px;
    font: 300 14px 'Poppins', sans-serif;
    color: #616365;
}

.nav-second li a:hover {
    color: #e00034;
}

.nav-second li.border a {
    margin-top: 5px;
    padding: 0 15px;
    border-left: 1px solid #616365;
    border-right: 1px solid #616365;
}

.nav-second li.button a {
    padding: 5px 20px;
    margin-left: 5px;
    background: #e00034;
    border: 1px solid #fff;
    color: #fff;
}

.nav-second li.button a:hover {
    border: 1px solid #e00034;
    color: #fff;
}

.nav-second li a.search {
    width: 24px;
    height: 24px;
    display: block;
    text-indent: -9009px;
    cursor: pointer;
    background: #fff url(../img/i_search.png) no-repeat right top;
}

.nav-second li.language {
    width: 90px;
    margin: 0 10px;
    overflow: hidden;
}

.nav-second li.language select {
    color: #646464;
    font-size: 14px;
    width: 141px;
    border: none;
    background: #fff url(../img/i_arrow_down.png) no-repeat 40px 9px;
    padding: 3px 5px;
    cursor: pointer;
    margin-top: -3px;
}

a.search-icon {
    width: 24px;
    height: 24px;
    margin: 5px 0 0 20px;
    display: block;
    float: right;
    text-indent: -9009px;
    cursor: pointer;
    background: #fff url(../img/i_search.png) no-repeat right top;
}

a:hover.search-icon {
    background-position: right bottom;
}

#primary-menu-mobile #searchform input[type="text"] {
    width: 100%;
}


@media all and (max-width: 1024px), only screen and (-webkit-min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min--moz-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (-o-min-device-pixel-ratio: 2/1) and (max-width: 1024px), only screen and (min-device-pixel-ratio: 2) and (max-width: 1024px), only screen and (min-resolution: 192dpi) and (max-width: 1024px), only screen and (min-resolution: 2dppx) and (max-width: 1024px) {

    .nav-second li.border a, .nav-second li.language, .nav-second li.button {
        padding: 17px;
        border: none;
        width: auto;
    }

    .nav-second {
        display: none;
    }

    .menu {
        width: 100%;
        position: relative;
        z-index: 999;
    }

    .menu ul {
        width: 100%;
        margin-top: 20px;
    }

    .menu.align-center > ul {
        text-align: left;
    }

    .menu {
        float: none;
        clear: both;
    }

    .menu ul li {
        width: 100%;
        clear: both;
        float: none;
        border-top: 1px solid #FAF2F2;
        background: none;
        position: relative;
        background: #f04f53;
    }

    .menu ul ul li,
    .menu li:hover > ul > li {
        height: auto;
    }

    .menu ul li a,
    .menu ul ul li a {
        width: 100%;
        border-bottom: 0;

    }

    .menu > ul > li {
        float: none;
    }

    .menu ul ul li a {
        padding-left: 25px;
    }

    .menu ul ul ul li a {
        padding-left: 35px;
    }

    .menu ul ul li a {
        color: #fff;
        background: none;
    }

    .menu ul ul li:hover > a,
    .menu ul ul li.active > a {
        color: #fff;
    }

    .menu ul ul {
        margin-top: -4px;
    }

    .menu ul ul,
    .menu ul ul ul,
    .menu.align-right ul ul {
        position: relative;
        left: 0;
        width: 100%;
        margin: 0;
        text-align: left;
        background: none;
        padding-top: 0;
    }

    .menu > ul > li.has-sub > a:after,
    .menu > ul > li.has-sub > a:before,
    .menu ul ul > li.has-sub > a:after,
    .menu ul ul > li.has-sub > a:before {
        display: none;
    }

    .menu > ul > li.has-sub > a {
        padding: 15px;
    }

    .menu #menu-button {
        display: block;
        padding: 10px;
        color: #fff;
        cursor: pointer;
        font-size: 16px;
        text-transform: uppercase;
        font-weight: 700;
        background: #fff;
        width: 35px !important;
        height: 35px;
        position: absolute;
        right: 40px;
        top: -35px;
    }

    .menu #menu-button.menu-opened {
        top: -43px;
    }

    .menu #menu-button:after {
        position: absolute;
        top: 16px;
        left: 11px;
        display: block;
        height: 4px;
        width: 20px;
        /*border-top: 2px solid #fff;*/
        border-bottom: 7px double #f04f53;
        content: '';
    }

    .menu #menu-button:before {
        position: absolute;
        top: 11px;
        left: 11px;
        display: block;
        height: 2px;
        width: 20px;
        background: #f04f53;
        content: '';
    }

    .menu #menu-button.menu-opened:after {
        top: 23px;
        border: 0;
        height: 2px;
        width: 15px;
        background: #f04f53;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        z-index: 9999;
    }

    .menu #menu-button.menu-opened:before {
        top: 23px;
        background: #f04f53;
        width: 15px;
        -webkit-transform: rotate(-45deg);
        -moz-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
        -o-transform: rotate(-45deg);
        transform: rotate(-45deg);
        z-index: 9999;
    }

    .menu .submenu-button {
        position: absolute;
        z-index: 99;
        right: 0;
        top: 0;
        display: block;
        border-left: 1px solid rgba(120, 120, 120, 0.2);
        height: 46px;
        width: 46px;
        cursor: pointer;
    }

    .menu .submenu-button.submenu-opened {
        background: #e00034;
    }

    .menu ul ul .submenu-button {
        height: 34px;
        width: 34px;
    }

    .menu .submenu-button:after {
        position: absolute;
        top: 22px;
        right: 19px;
        width: 8px;
        height: 2px;
        display: block;
        background: #fff;
        content: '';
    }

    .menu ul ul .submenu-button:after {
        top: 15px;
        right: 13px;
    }

    .menu .submenu-button.submenu-opened:after {
        background: #ffffff;
    }

    .menu .submenu-button:before {
        position: absolute;
        top: 19px;
        right: 22px;
        display: block;
        width: 2px;
        height: 8px;
        background: #fff;
        content: '';
    }

    .menu ul ul .submenu-button:before {
        top: 12px;
        right: 16px;
    }

    .menu .submenu-button.submenu-opened:before {
        display: none;
    }

    .menu ul ul.one-col, .menu ul ul.two-col {
        top: 0;
    }

    .menu ul ul.one-col, .menu ul ul.two-col, .menu ul ul.one-col li, .menu ul ul.two-col li {
        width: 100%;
    }

    .topbar #searchform, .topbar .links {
        display: none;
    }

    .links {
        text-align: center;
        color: #fff;
        font-size: 18px;
    }

    .links a {
        display: inline-block;
        padding: 8px;
        text-align: center;
        color: #fff;
        font-size: 18px;
        margin-right: 5px;
    }

    .menu > ul > li > a {
        padding: 17px 15px 17px;
        text-transform: capitalize;
    }

    .menu > ul > li > a > i {
        padding-right: 8px;
        font-size: 16px;
        width: 25px;
        text-align: center;
    }

    .menu ul ul {
        padding-bottom: 0px;
    }
}

.recipes-parent-item a:hover .recipes-menu {
    opacity: 1;
    visibility: visible;
}

.recipes-menu {
    display: none;
}
.recipes-menu .elementor-icon-list-items .elementor-icon-list-item a {
    display: flex;
    flex-direction: row-reverse;
}
.recipes-menu  ul li a {
    padding: 10px 5px !important;
}
.recipes-menu  .recipes-menu__first li:first-child .elementor-icon-list-text {
    font-weight: 700;
}
.recipes-parent-item .recipes-menu {
    display: block;
}
.recipes-menu .elementor-icon-list-item{
    white-space: nowrap;
}

.recipes-parent-item ul {
    width: auto !important;
}

.hidden-menu-item {
    display: none !important;
}

#primary-menu .sub-menu:before {
    content: '';
    position: absolute;
    top: -14px;
    left: 20px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 15px 15px 15px;
    border-color: transparent transparent #EAF5ED;
}

header .sub-menu a:before {
    display: none !important;
}

header .sub-menu a:hover {
    color: #F04F52 !important;
}

.line1, .line2, .line3 {
    width: 32px;
    height: 2px;
    background-color: #f04f53;
    margin: 4px 0;
    transition: 0.4s;
    display: block;
}

.nav-triggers {
    display: none;
}

@media screen and (max-width: 1024px) {
    .nav-triggers {
        display: block;
        top: 30px;
        right: 30px;
        z-index: 9999;
    }
    .menu .sub-menu {
        position: initial;
        left: auto;
    }
}

.nav-triggers a {
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    padding: 10px;
}
.js-mm-close .line1 {
    transform: rotate(-45deg) translate(-6px, 7px);
    background-color: #ffffff;
}
.js-mm-close .line2 {
    opacity: 0;
}
.js-mm-close .line3 {
    transform: rotate(45deg) translate(-7px, -7px);
    background-color: #ffffff;
}
.mm {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 997;
    top: 0;
    right: 0;
    max-width: 568px;
    transform: translateX(120%);
    transition: transform 0.75s, opacity 1s ease 0.75s;
    opacity: 0;

    overflow-y: auto;
}

.mm--show {
     opacity: 1;
     transform: translate(0);
     transition: transform 0.75s, opacity 0.3s;
 }
.scroll-icons {
    position: fixed;
    right: 12px;
    top: 12px;
    z-index: 9999;
    display: flex;
}
.mobile-search {
    margin: 1px;
    display: none;
    transition: .3s ease;
}
#search-btn {
    margin: 1px;
    transition: .3s ease;
}
.hamburger {
    margin: 1px;
    transition: .3s ease;

}
.mm--scrolled .hamburger {
    background-color: #EAF5ED;
}
.mm--scrolled #search-btn {
    background-color: #EAF5ED;
}
.mobile-search i {
    font-size: 30px;
}

@media screen and (max-width: 1024px) {
    .mobile-search {
        display: block;
    }
}
.mobile-nav {
    background-color: #f04f53;
    padding: 10px 0;
}
.mm__search {
    max-width: 260px;
    margin-left: 10px;
}
.mm .menu > ul > li > a {
    font-family: 'Lato', sans-serif;
    font-size: 18px;
    font-weight: 700;
}
.mm .menu > ul > li > .sub-menu a {
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    font-weight: 400;
}
.mm .sub-menu {
    display: none;
}
.submenu-toggle {
    margin-left: 10px;
    background: transparent;
    border: none;
    position: absolute;
    top: 1.5em;
    transform: translateY(-1em);
    left: 55px;
    padding: 10px;
    outline: none;
    cursor: pointer;
    box-shadow: none !important;
}

.submenu-toggle:hover {
    background: transparent;
    border: none;
    outline: none;

}
.submenu-toggle:focus {
    box-shadow: none !important;
}
.submenu-toggle:after {
    content: '\f067';
    font-family: "Font Awesome 5 Free";
    font-weight: 700;
    transition: .3s ease;
    margin-left: 5px;
    font-size: 10px;
    color: #ffffff;
}

.submenu-toggle.open:after {
    content: '\f068';
    transition: .3s ease;
}
.mm__socials {
    margin: 10px 15px;
}
.mm__socials i {
    color: #ffffff;
    font-size: 24px;
    margin-right: 15px;
    transition: .3s ease;
}
@media screen and (max-width: 1024px) {
    .mobile-search {
        position: relative;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
    }
}

.mobile__search {
    position: absolute;
    opacity: 0;
    visibility: hidden;
    right: 55px;
    top: 7px;
    transition: .3s ease;
}
.mobile__search--show.mobile__search {
    opacity: 1;
    visibility: visible;
}
#header-search-btn {
    padding: 10px;
    background: #EAF5ED;
    cursor: pointer;
    box-shadow: 0px 0px 10px -5px rgb(0 0 0 / 50%);
    border: none;
    border-radius: 0;
}
#header-search-btn i {
    font-size: 30px;
    color: #F04F53 ;
    transition: .3s ease;
}
#header-search-btn:hover i {
    transform: scale(1.1);
}
.scroll-search {
    position: fixed;
    top: 10px;
    right: 10px;
    opacity: 0;
    visibility: hidden;
    transition: .3s ease;
    z-index: 999;
}
.search--scrolled.scroll-search {
    opacity: 1;
    visibility: visible;
}
@media screen and (max-width: 1024px) {
    .scroll-search {
        display: none;
    }
}
.scroll-search__input {
    position: fixed;
    opacity: 0;
    visibility: hidden;
    right: 65px;
    top: 16px;
    transition: .3s ease;
}
.mobile__search--show.scroll-search__input {
    opacity: 1;
    visibility: visible;
}
