/* This file corrects the search-recipe-grid which had missing cells
the display is set to flex and the array found in tpl-searchgrid.php set to hide_empty*/
/* 8.12.2021*/
html.lock {
    overflow-y: hidden;
    pointer-events: none;
}
.recipe-title {
    z-index: 2;
}
#search-recipe-grid{
    display: block;
    width: 100%;
    flex-wrap: wrap !important;
    z-index: 1;
}
#search-recipe-grid li {
    max-width: none;
}
/*
Recipes Page Filter Section
*/
.recipe-filtering {
    display: flex;
    align-items: flex-start;
}
.recipe_search {
    background-color: #FAEDED;
    padding: 20px;
    margin-right: 20px;
}
.recipe_search form, .recipe_search form.searchandfilter {
    width: 275px;
}
.recipe_search form ul li, .recipe_search form.searchandfilter ul li {
    width: 100%;
    margin: 5px 0 !important;
}
.searchandfilter h4 {
    border-bottom: 1px solid #000;
    cursor: pointer;
    position: relative;
}
.sf-field-search h4 {
    border: none;
    font-size: 22px !important;
}
.sf-field-search i {
    display: none;
}
.sf-field-search label {
    width: 100%;
}
.searchandfilter ul>li>ul:not(.children) {
    display: none;
    margin-top: 10px;
    transition: .3s ease;
}
.searchandfilter ul>li>ul:not(.children).has-checked-option, .searchandfilter ul>li>ul:not(.children).dropdown-show {
    display: block;
}

.sf-field-search {
    position: relative;
    padding-bottom: 15px !important;
}
.sf-field-search::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 120%;
    transform: translateX(-50%);
    height: 10px;
    background-color: #ffffff;
}
.search-descr {
    font-size: 13px;
    margin-bottom: 15px;
}
.filter-heading {
    font-size: 22px !important;
    font-family: "Harriet Display";
    font-weight: 400;
}
.searchandfilter h4 {
    padding: 10px 0 15px;
}
.searchandfilter h4 i {
    position: absolute;
    right: 0;
    bottom: 15px;
    background: transparent !important;
    font-size: 22px !important;
    transition: .3s ease;
}
.searchandfilter h4 i.active {
    transform: rotate(-180deg);
}
.searchandfilter label {
    text-transform: capitalize;
}
/*
Facet
*/
.facetwp-facet {
    text-align: center;
}
.facetwp-load-more, .ctis-load-more{
    background-color: #F04F52;
    font-size: 18px;
    color: #ffffff;
    font-weight: 700;
    text-transform: uppercase;
    border-radius: 30px;
    padding: 15px 30px;
    border: none;
    cursor: pointer;
    transition: .3s ease;
}
.facetwp-load-more:hover, .ctis-load-more:hover {
    background-color: #d8484b;
}
.facetwp-input-wrap {
    width: 100%;
}
.facetwp-facet input.facetwp-search {
    width: 100%;
}
.facetwp-facet-search {
    margin-bottom: 0 !important;
}
.facetwp-facet input.facetwp-search {
    border: 1px solid #D8D8D8;
    font-size: 18px;
    color: #000000;
}
.big-search .facetwp-facet input.facetwp-search {
    height: 45px;
}
.close-filters {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 9;
    border: none;
    background: transparent;
    font-size: 20px;
    display: none;
}
.recipes-wrap .content {
    padding-top: 0;
}
@media screen and (max-width: 767px) {
    #recipes-filters {
        transform: translateX(-103%);
        position: fixed;
        left: 0;
        top: 0;
        max-width: 300px;
        transition: .5s ease;
        z-index: 999;
        max-height: 100vh;
        overflow-y: auto;
        pointer-events: auto;
    }
    .close-filters {
        display: block;
    }
    .filter-bar .elementor-column-wrap{
        background-color: #eaf5ed !important;
    }
    .searchandfilter ul>li>ul:not(.children) {
        display: block;
    }
    .searchandfilter h4 i {
        display: none;
    }
    .searchandfilter h4 {
        border: none;
    }
    .searchandfilter h4 {
        font-size: 20px;
    }
    .recipes-wrap .content {
        margin-top: 40px;
        padding-top: 0;
    }
}
#recipes-filters.show {
    transform: translateX(-10px);
}
.searchandfilter ul li.sf-field-reset  {
    display: none;
    text-align: center;
}
.searchandfilter ul li.sf-field-reset input[type="submit"] {
    background: #fff;
    border-color: #fff;
}
.search-filter-reset {
    border: none;
    background-color: transparent;
    text-transform: capitalize;
}
@media screen and (max-width: 480px) {
    .search-filter-reset {
        background-color: #F04F52;
        color: #ffffff;
        padding: 10px 20px;
        font-size: 18px;
        font-weight: 700;
    }
    .filter-heading, .searchandfilter p {
        display: none;
    }
}
@media screen and (max-width: 480px) {
    #search-recipe-grid {
        justify-content: center;
    }
    #search-recipe-grid li {
        width: 50%;
    }
}
#no-results {
    text-align: center;

}
#no-results  li {
    width: 100%;
    float: none;
    text-align: center;
    margin: 30px auto;
    background-color: #F04F52;
    max-width: 250px;
}
#no-results  li input {
    color: #fff;
    background: transparent;
    border: none;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-shadow: none;
}
#no-results p {
    font-size: 22px;
}
.sf-field-submit {
    text-align: center;
}
.sf-field-submit input[type="submit"] {
    background: #F04F52;
    border: none;
    color: #fff;
    padding: 15px 30px;
    font-family: 'Lato', sans-serif;
    font-size: 16px;
    text-shadow: none;
}
/*
Search Field
*/
.side-search .asp_text_button{
    display: none !important;
}
.side-search .promagnifier {
    background-image: none !important;
}
.side-search svg {
    fill: #000 !important;
}
.header-search.side-search svg {
    fill: #F04F53 !important;
}
.main-search .innericon{
    display: none;
}
.main-search .asp_text_button {
    padding: 0 30px !important;
}
@media screen and (min-width: 768px) {
    .recipe-filtering .mix {
        min-height: 301px;
    }
}

.mix img {
    position: relative;
}
.recipe-image {
    position: relative;
    z-index: -1;
}
.recipe-image:after {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #F04F5378;
    opacity: 0;
    transition: .3s ease;
}
.mix:hover .recipe-image:after{
    opacity: 1;
}
.filtering-results {
    text-align: center;
    padding-top: 20px;
}
.filtering-results p {
    font-size: 20px;
    text-transform: capitalize;
}
