/***********************************************************************************/
/* Custom CSS for Challenge Page - Muletown Digital - 6/23/21 */
/***********************************************************************************/


.challenge-v2 p {
    padding-bottom: 10px;
}

/* Fixes issues with the Gleam include having the wrong BG Color */

#challenge-v2 .ggsi#ggsIdPrefix_oB2Ht_0_root {
    background-color: transparent !important;
}

#challenge-v2 .ggsi#ggsIdPrefix_oB2Ht_0_root .ggs-gallery-header__content-wrapper {
    background-color: transparent !important;
}


/*fixes for iPad Pro Display*/
@media only screen 
  and (min-width: 1024px) 
  and (max-height: 1366px) 
  and (orientation: portrait) 
  and (-webkit-min-device-pixel-ratio: 1.5) {

   /* #challenge-v2 > div > div > div > div > section.ob-is-breaking-bad.elementor-section.elementor-top-section.elementor-element.elementor-element-3d861aaf.elementor-section-full_width.elementor-section-height-default.elementor-section-height-default > div > div > div > div > div > section > div > div > div.elementor-column.elementor-col-50.elementor-inner-column.elementor-element.elementor-element-6f9edd79 > div > div > div.elementor-element.elementor-element-6749259b.se_arrow_3.elementor-view-default.elementor-widget.elementor-widget-icon{
        margin-top: -126px;
    }

    #challenge-v2 #recipetips > div > div > div > div > div > section > div > div > div.elementor-column.elementor-col-50.elementor-inner-column.elementor-element.elementor-element-724a92cb > div > div > div.elementor-element.elementor-element-77d089f7.recipe_tips_section_text.ob-harakiri-inherit.elementor-widget.elementor-widget-heading > div > h2{
        margin-left: 85px;
    }
    
    #challenge-v2 #recipetips > div > div > div > div > div > section > div > div > div.elementor-column.elementor-col-50.elementor-inner-column.elementor-element.elementor-element-724a92cb > div > div > div.elementor-element.elementor-element-76cd55eb.recipe_tips_section_text2.ob-harakiri-inherit.elementor-widget.elementor-widget-heading > div > h2{
        margin-left: 85px;
    }*/
}

