/* CSS for Category page */

/*Build the post text overlay*/
.title_overlay .eael-entry-header{
    margin-top: -257px;
    z-index: 1;
    background-color: #fff !important;
}

.title_overlay h2.eael-entry-title{
    position: relative;
    background: #fff;
    z-index: 1;
    margin-right: 8px;
    margin-left: 8px;
    padding-bottom: 8px;
    padding-top: 8px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 16px;
}

.title_overlay .eael-grid-post-link{
    text-align: center;
    background-color: #fff;
}

.title_overlay .eael-entry-overlay.fade-in{
    /*display: none !important;*/
}

.title_overlay .eael-grid-post-holder{
    border: none;
}

.title_overlay .eael-grid-post .eael-entry-footer .eael-entry-meta{ 
    flex-direction: row !important; 
}

.title_overlay .eael-posted-by{
    margin-right: 10px;
    border-right: 1px solid;
    padding-right: 10px;
}

.title_overlay .eael-entry-meta>span{
    padding-bottom: 0px;
}

.title_overlay .eael-entry-meta{
    font-style: italic;
    font-size: 13px;
    margin-top: -10px;
}

/*video content section*/
.best_cookies_section .eael-entry-footer{
    display: none;
}

.best_cookies_section .eael-grid-post-holder{
    background-color: transparent !important;
} 

/*video content section*/
.video_content_section .title_overlay .eael-entry-header{
    margin-top: -355px;
}

.video_content_section .eael-grid-post-link{
}

.video_content_section h2.eael-entry-title{
    font-size: 18px;
    font-weight: bold;
    padding-top: 10px;
    padding-bottom: 11px;
    padding-left: 10px;
    padding-right: 10px;
    margin-left: 30px;
    margin-right: 30px;
}


/*All Cookie Recipes*/
.page-id-43123 .all_cookie_section > #iframe1 > .search .logo{
    display: none;
}




/*Splash Login CSS*/
.main_title{
    width: 785px;
    height: 114px;
    font-family: HarrietText;
    font-size: 46px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center !important;
    color: #f04f52;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: 20px;
}

.title_container{
    text-align: center;
}

.subtitle_container{
    margin-bottom: 30px;
}

.subtitle_one{
    width: 593px;
    height: 35px;
    font-family: HarrietText;
    font-size: 26px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #000;
}

.subtitle_two{
    width: 723px;
    height: 106px;
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #1f1f1f;
    margin-left: auto; 
    margin-right: auto;
    margin-bottom: -64px;
    
}

.subtitle_three{
    width: 723px;
    height: 106px;
    font-family: Lato;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.56;
    letter-spacing: normal;
    text-align: center;
    color: #1f1f1f;
    margin-left: auto; 
    margin-right: auto;
}

.subtitle_container_three{
    margin-bottom: 5%;
}

.members-splash{
    margin-top: 15%;
    width: 100%;
    text-align: center;
}

.cookie_recipe_col{ 
    margin-left: 4%; 
    margin-right: 4%;
}

.cf_title_overlay .eael-entry-header{ 
    margin-top: -360px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.best_cookies_overlay .eael-entry-header{
    background: linear-gradient(to right bottom,#7a4535,#eed6cd,#7a4535);
    margin-top: -311px;
}

/*All Cookies Section */ 

.all_cookie_section .all_cookie_recipes_title h2.eael-entry-header{
    background-color: linear-gradient(to right bottom,#7a4535,#eed6cd,#7a4535);
    margin-top: -308px;
}

@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px){
    .soft_cookies_section > h2.eael-entry-title{
        display: contents;
        margin-top: -5px;

    }
    .sugar_cookie_section .eael-grid-post .eael-entry-wrapper, .eael-grid-post .eael-entry-footer{
        padding: 0px;
    overflow: visible;
    margin-top: 25px;
    }
    .title_overlay .eael-posted-by{
        padding-right: 4px; 
        margin-right: 4px;
    }

    .title_overlay .eael-post-grid .eael-entry-footer .eael-entry-meta{
        padding-left: 0px;
    }

    .title_overlay .eael-entry-meta{
        font-size: 93%;
    }
}
/* Silverman Additions */
.eael-logo-carousel-wrap .swiper-button-next, .eael-logo-carousel-wrap .swiper-button-prev {
    background-image: none;
    outline: none;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition: all .3s ease;
}

.elementor-43089 .elementor-element.elementor-element-7bdea90a .swiper-container-wrap .swiper-button-next {
    right: -3px;
}

/* Pink Stars */

#crowd-favs .custom-recipe-ratings .wprm-recipe-rating {
    text-align: center;
    margin-top: -20px;
    margin-bottom: 0;
}

#mobileMenu {
    padding: 20px 0;
}

.custom-recipe-ratings .wprm-recipe-rating {
    text-align: center;
    margin-top: -30px;
    margin-bottom: 0;
}

.best_cookies_section h2.eael-entry-title, .all_cookie_section h2.eael-entry-title {
    text-transform: uppercase;
}