/* CSS for Category page */

/*Build the post text overlay*/
.title_overlay .eael-entry-header {
  /*margin-top: -257px;*/
  /*position: relative;*/
  z-index: 1;
  background-color: #fff !important;
  padding-bottom: 5px;
  position: absolute;
  top: 25px;
  left: 50%;
  transform: translateX(-50%);
  width: 85%;
}

@media screen and (max-width: 815px) {
  .title_overlay .eael-entry-header {
    /*margin-top: -325px;*/
    /*z-index: 1;*/
    /*background-color: #fff !important;*/
    /*position: relative;*/
    top: 17.5px;
    width: 82%;
  }

  .title_overlay .eael-entry-footer .eael-entry-meta {
    flex-wrap: wrap;
  }
}

.title_overlay h2.eael-entry-title {
  position: relative;
  background: #fff;
  z-index: 1;
  margin-right: 8px;
  margin-left: 8px;
  padding-bottom: 8px;
  padding-top: 8px;
  padding-left: 10px;
  padding-right: 10px;
  font-weight: bold;
  font-size: 16px;
}

@media screen and (max-width: 815px) {

  .title_overlay h2.eael-entry-title {
    position: relative;
    background: #fff;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 5px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-weight: bold;
    font-size: 14px;
  }

}

@media screen and (max-width: 568px) {

  .title_overlay h2.eael-entry-title {
    position: relative;
    background: #fff;
    z-index: 1;
    margin-right: 5px;
    margin-left: 5px;
    padding-bottom: 4px;
    padding-top: 4px;
    padding-left: 8px;
    padding-right: 8px;
    font-weight: bold;
    font-size: 12px;
  }

}


.title_overlay .eael-grid-post-link {
  text-align: center;
  background-color: #fff;
}

.title_overlay .eael-entry-overlay.fade-in {
  /*display: none !important;*/
}

.title_overlay .eael-grid-post-holder {
  border: none;
}

.title_overlay .eael-grid-post .eael-entry-footer .eael-entry-meta {
  flex-direction: row !important;
}

.title_overlay .eael-posted-by {
  margin-right: 10px;
  border-right: 1px solid;
  padding-right: 10px;
}

.title_overlay .eael-entry-meta > span {
  padding-bottom: 0px;
}

.title_overlay .eael-entry-meta {
  font-style: italic;
  font-size: 13px;
  margin-top: -10px;
}

.title_overlay .eael-entry-media {
  z-index: 1;
}

.title_overlay .eael-entry-wrapper {
  z-index: 2;
  /*padding: 13px;*/
}

/*video content section*/
.best_cookies_section .eael-entry-footer {
  display: none;
}

.best_cookies_section .eael-grid-post-holder {
  background-color: transparent !important;
}

/*video content section*/
.video_content_section .title_overlay .eael-entry-header {
  /*margin-top: -355px;*/
}

@media screen and (max-width: 815px) {
  .video_content_section .title_overlay .eael-entry-header {
    /*margin-top: -235px;*/
  }
}


/*All Cookie Recipes*/
.page-id-43123 .all_cookie_section > #iframe1 > .search .logo {
  display: none;
}

/*Splash Login CSS*/
.main_title {
  width: 785px;
  height: 114px;
  font-family: HarrietText;
  font-size: 46px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center !important;
  color: #f04f52;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
}

.title_container {
  text-align: center;
}

.subtitle_container {
  margin-bottom: 30px;
}

.subtitle_one {
  width: 593px;
  height: 35px;
  font-family: HarrietText;
  font-size: 26px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #000;
}

.subtitle_two {
  width: 723px;
  height: 106px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: -64px;

}

.subtitle_three {
  width: 723px;
  height: 106px;
  font-family: Lato;
  font-size: 18px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.56;
  letter-spacing: normal;
  text-align: center;
  color: #1f1f1f;
  margin-left: auto;
  margin-right: auto;
}

.subtitle_container_three {
  margin-bottom: 5%;
}

.members-splash {
  margin-top: 15%;
  width: 100%;
  text-align: center;
}

.cookie_recipe_col {
  margin-left: 4%;
  margin-right: 4%;
}

.cf_title_overlay .eael-entry-header {
  /*margin-top: -360px;*/
  /*margin-left: auto;*/
  /*margin-right: auto;*/
  /*position: relative;*/
}

@media screen and (max-width: 815px) {
  .cf_title_overlay .eael-entry-header {
    /*margin-top: -350px;*/
  }
}

#science .eael-entry-wrapper,
.best_cookies_overlay .eael-entry-wrapper {
  position: absolute;
  top: -25px;
  left: 50%;
  transform: translateX(-50%);
  width: 90%;
}

#science .eael-grid-post-holder-inner::after,
.best_cookies_overlay .eael-grid-post-holder-inner::after {
  content: '';
  position: absolute;
  top: -20px;
  left: 50%;
  transform: translateX(-50%);
  height: 50%;
  width: 85%;
  z-index: -1;
  background: linear-gradient(to right bottom, #7a4535, #eed6cd, #7a4535);
}

#science .eael-entry-header,
.best_cookies_overlay .eael-entry-header {
  margin: 0;
  top: 15px;
}

#science .eael-post-grid-column,
.best_cookies_overlay .eael-post-grid-column {
  margin-bottom: 20px;
}

/*.best_cookies_overlay .eael-entry-header{*/
/*    background: linear-gradient(to right bottom,#7a4535,#eed6cd,#7a4535);*/
/*    !*margin-top: -311px;*!*/
/*}*/

/*@media screen and (max-width: 815px) {*/
/*  .best_cookies_overlay .eael-entry-header {*/
/*    margin-top: -234px;*/
/*  }*/
/*}*/

/*All Cookies Section */

/*.all_cookie_section .all_cookie_recipes_title h2.eael-entry-header {*/
/*  background-color: linear-gradient(to right bottom, #7a4535, #eed6cd, #7a4535);*/
/*  margin-top: -308px;*/
/*}*/

/*@media screen and (max-width: 815px) {*/
/*  .all_cookie_section .all_cookie_recipes_title h2.eael-entry-header {*/
/*    background-color: linear-gradient(to right bottom, #7a4535, #eed6cd, #7a4535);*/
/*    margin-top: -308px;*/
/*  }*/
/*}*/

@media only screen
and (min-device-width: 320px)
and (max-device-width: 768px) {
  .soft_cookies_section > h2.eael-entry-title {
    display: contents;
    margin-top: -5px;

  }

  .sugar_cookie_section .eael-grid-post .eael-entry-wrapper, .eael-grid-post .eael-entry-footer {
    padding: 0px;
    overflow: visible;
    /*margin-top: 25px;*/
    margin-top: 5px;
  }

  .title_overlay .eael-posted-by {
    padding-right: 4px;
    margin-right: 4px;
  }

  .title_overlay .eael-post-grid .eael-entry-footer .eael-entry-meta {
    padding-left: 0px;
  }

  .title_overlay .eael-entry-meta {
    font-size: 93%;
  }
}

/* Silverman Additions */
.eael-logo-carousel-wrap .swiper-button-next, .eael-logo-carousel-wrap .swiper-button-prev {
  background-image: none;
  outline: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
}

.elementor-43089 .elementor-element.elementor-element-7bdea90a .swiper-container-wrap .swiper-button-next {
  right: -3px;
}

/* Pink Stars */

#crowd-favs .custom-recipe-ratings .wprm-recipe-rating {
  text-align: center;
  margin-top: -10px;
  margin-bottom: 0;
}

#mobileMenu {
  padding: 20px 0;
}

.custom-recipe-ratings .wprm-recipe-rating {
  text-align: center;
  margin-top: -15px;
  margin-bottom: 0;
}

.best_cookies_section h2.eael-entry-title, .all_cookie_section h2.eael-entry-title {
  text-transform: uppercase;
}

/*Stars red color*/

.wprm-recipe-rating .wprm-rating-star.wprm-rating-star-full svg * {
  fill: #f04f53 !important;
  stroke: #f04f53 !important;
}

body.no-stars-page .wprm-recipe-rating {
  display: none;
}

#crowd-favs .swiper-container-wrap .swiper-button-next {
  right: -10px !important;
}

#crowd-favs .swiper-container-wrap .swiper-button-prev {
  left: -10px !important;
}

@media screen and (max-width: 1160px) {
  #crowd-favs .swiper-container-wrap .swiper-button-next {
    right: 0 !important;
  }

  #crowd-favs .swiper-container-wrap .swiper-button-prev {
    left: 0 !important;
  }
}

.elementor-widget-eael-post-carousel .swiper-container {
  margin: 0;
}

.eael-grid-post .eael-entry-wrapper, .eael-grid-post .eael-entry-footer {
  padding: 13px 5px;
}

.video_content_section .eael-entry-meta {
  display: flex;
  flex-wrap: wrap;
}

.video_content_section .eael-posted-on time {
  font-size: 12px;
}

.video_content_section .eael-entry-meta {
  padding-left: 0 !important;
}
