/* MuleTown Digital 7.16.2021*/

/* Lets style comments for admin avatars */

.comment-author-tessaaarias1 > div > img.avatar.avatar-48.updatedphoto{

    content: url('https://handletheheat.com/wp-content/uploads/2021/07/hth-tessa@3x.jpg');
    width: 63px;
    /* padding-right: 30px; */
    display: block !important;
    border: solid 1.5px #f05053;
    border-radius: 58px;
    margin-right: 20px !important;

}

.comment-author-tessaaarias1 > div > div.commentmeta > strong{
    color: #f05053 !important;
}

.comment-author-haleywehner > div > img.avatar.avatar-48.updatedphoto{

    content: url('https://handletheheat.com/wp-content/uploads/2021/07/hth-haley@3x.jpg');
    width: 63px;
    display: block !important;
    border: solid 1.5px #f05053;
    border-radius: 58px;
    margin-right: 20px !important;
}
.comment-author-kierstenshoring > div > img.avatar.avatar-48.updatedphoto{
    content: url('https://handletheheat.com/wp-content/uploads/2022/05/kierstenshoring.jpeg');
    width: 63px;
    display: block !important;
    border: solid 1.5px #f05053;
    border-radius: 58px;
    margin-right: 20px !important;

}
.comment-author-haleywehner > div > div.commentmeta > strong{
    color: #f05053 !important;
}

.comment-author-emilyfink > div > img.avatar.avatar-48.updatedphoto{

    content: url('https://handletheheat.com/wp-content/uploads/2021/07/hth-emily@3x.jpg');
    width: 63px;
    display: block !important;
    border: solid 1.5px #f05053;
    border-radius: 58px;
    margin-right: 20px !important;
}

.comment-author-emilyfink > div > div.commentmeta > strong{
    color: #f05053;
}
.comment-author-kierstenshoring > div > div.commentmeta > strong{
    color: #f05053;
}

/*Hide the avatars for other users*/

.avatar.avatar-48.updatedphoto.lazyloaded{
    display: none;
}
.comment-author-tessaaarias1 > div, .comment-author-haleywehner > div, .comment-author-kierstenshoring > div, .comment-author-haleywehner > div, .comment-author-emilyfink > div {
    background-color: #FAEDED;
    border-radius: 5px;
    padding: 5px;
}
@media only screen
and (min-device-width: 320px)
and (max-device-width: 812px) {
    .comment-author-tessaaarias1 > div > img.avatar.avatar-48.updatedphoto{
        width: 78px;
    }
}


/*Quick fix for header menu position*/

@media only screen
and (min-device-width: 768px)
and (max-device-height: 1024px){
    #header > div > a > div.logo{
        margin-top: 10px;
    }
}
