/* Containers */

.wprm-recipe-container .wprm-recipe.wprm-recipe-handle-the-heat {
    background: #f3f9f4;
    padding: 32px;
    margin: 40px 0;
}

/* Fonts */

.wprm-recipe-handle-the-heat {
    color: #000;
}

.wprm-recipe-container .wprm-recipe-handle-the-heat p {
    padding: 0;
}

.wprm-recipe-container .wprm-recipe-handle-the-heat h1,
.wprm-recipe-container .wprm-recipe-handle-the-heat h2,
.wprm-recipe-container .wprm-recipe-handle-the-heat h3,
.wprm-recipe-container .wprm-recipe-handle-the-heat h4,
.wprm-recipe-container .wprm-recipe-handle-the-heat h5,
.wprm-recipe-container .wprm-recipe-handle-the-heat h6 {
    line-height: 1.15;
    float: none !important;
}

html body .wprm-recipe-handle-the-heat .wprm-recipe-name .how {
    font-size: 14px;
}

html body.single .main .wprm-recipe-handle-the-heat .wprm-recipe-group-name { /* Section Groups */
    font-size: 22px;
}

.wprm-recipe-handle-the-heat .wprm-recipe-author-container {
    font-size: 14px;
    font-weight: 400;
}

.wprm-recipe-handle-the-heat .wprm-recipe-details-container strong,
.wprm-recipe-handle-the-heat .wprm-recipe-details-container span {
    font-size: 13px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

html body .wprm-recipe-handle-the-heat .ingredients li {
    font-size: 16px !important;
    line-height: 1.8 !important;
}

.wprm-recipe-handle-the-heat .directions div {
    font-weight: 300;
}

/* Links */

html body.single a {
    -webkit-transition: 400ms;
    transition: 400ms;
}

html body.single a:hover {
    opacity: 0.7;
}

/* Rating */

.wprm-recipe-rating {
    text-align: right;
    font-size: 70%;
}

.wprm-rating-star {
    padding-left: 2px;
}

.wprm-recipe-container .wprm-recipe.wprm-recipe-handle-the-heat svg polygon {
    stroke: #f04f53;
}

.wprm-recipe-container .wprm-recipe.wprm-recipe-handle-the-heat .wprm-rating-star-full svg polygon {
    fill: #f04f53;
}

.wprm-recipe-rating-details {
    margin-top: 4px;
    letter-spacing: 0.1em;
}

/* Details */

.wprm-recipe-handle-the-heat .share {
    margin: 24px 0 20px;
}

.wprm-recipe-handle-the-heat .wprm-recipe-author-container {
    text-align: left;
    padding: 0;
    margin: 16px 0 0;
}

.wprm-recipe-handle-the-heat .wprm-recipe-details-container,
.wprm-recipe-handle-the-heat .ingredients,
.wprm-recipe-handle-the-heat .directions {
    width: 100%;
    float: none;
    margin: 0;
}

.wprm-recipe-handle-the-heat .wprm-recipe-details-container .whole-recipe-yield,
.wprm-recipe-handle-the-heat .wprm-recipe-details-container .whole-recipe-prepcook {
    padding: 0;
    margin-bottom: 12px;
}

.wprm-recipe-handle-the-heat .wprm-recipe-details-container div {
    margin-bottom: 2px;
}

.wprm-recipe-handle-the-heat .wprm-recipe-details-container .fa {
    margin-right: 2px;
    vertical-align: bottom;
}

.wprm-recipe-handle-the-heat .wprm-recipe-details-container .fa-cutlery {
    font-size: 80%;
}

/* Image Container */

.wprm-recipe-image {
    margin: 20px 0 12px;
}

/* Description */

.wprm-recipe-summary {
    font-family: "Lato";
    font-weight: 300;
    line-height: 29px !important;
}

.wprm-recipe-summary,
.wprm-recipe-summary p {
    font-size: 17px !important;
    text-align: center;
}

@media screen and (min-width: 768px) {
    .wprm-recipe-summary,
    .wprm-recipe-summary p {
        text-align: left;
    }
}

/* Conversion */

.wprm-unit-conversion-container {
    font-weight: 600;
    font-size: 10px;
    text-transform: uppercase;
}

/* Ingredients & Instructions */

html body .wprm-recipe-handle-the-heat .title,
html body.single .main .wprm-recipe-handle-the-heat .wprm-recipe-group-name {
    margin: 16px 0 8px;
}

html body.single .wprm-recipe-handle-the-heat ol,
html body.single .wprm-recipe-handle-the-heat ul {
    margin: 0;
}

html body.single .wprm-recipe-handle-the-heat li {
    list-style-type: none !important;
    margin-left: 0;
    margin-bottom: 4px;
}

html body.single .wprm-recipe-handle-the-heat .directions li {
    margin-bottom: 12px;
}

.wprm-recipe-instructions-container p {
    margin: 0;
}

.wprm-recipe-ingredient-notes {
    font-style: italic;
    opacity: 0.6;
}

/* Notes */

.wprm-recipe-handle-the-heat .wprm-recipe-notes-container .wprm-recipe-notes {
    font-weight: 300;
    line-height: 29px;
}

.wprm-recipe-handle-the-heat .wprm-recipe-notes-container .wprm-recipe-header {
    margin-bottom: 8px;
}

/* Taxonomies */

.wprm-recipe-handle-the-heat .wprm-recipe-tags-container {
    text-align: left;
    margin-top: 20px;
}

/* Nutrition */

.wprm-recipe-container .wprm-recipe-handle-the-heat .wprm-nutrition-label {
    display: block;
    max-width: 100%;
    margin-top: 32px;
}

/* Instagram CTA */

.wprm-recipe-handle-the-heat .cta-wrap {
    margin-top: 20px;
    padding: 15px;
    background-color: #ffffff;
    font-family: "Lato";
}

.wprm-recipe-handle-the-heat .cta-wrap img.cta-icon {
    height: 48px;
    width: 48px;
    margin-right: 15px;
}

.wprm-recipe-handle-the-heat .cta-text {
    font-size: 16px;
}