

#cboxOverlay {background:#333;}

.preview_grid {padding: 20px 20px 0 20px !important;}

 .preview_grid .main {
    margin: 0 !important;
}

.preview_grid.content form .popup_top 
	{
		padding: 0 0 10px 0;
		float:left;
	}

.preview_grid.content form .popup_top h2 {
  font-size: 60px;
  margin-bottom: 0;
  margin-top: 0;
}

.popup_top h3 {
    font-size: 23px !important;
}

.popup_top > img {
  width: 150px;
}

.preview_grid.content form .popup_top img 
	{
		float:left;
		margin: 0 20px 0 0;
	}

.preview_grid.content form label.gfield_label
	{
		font-size:20px;
	}

.preview_grid.content form input[type="text"] {
  border-color: #ccc;
  font-size: 15px;
  margin-top: 10px;
  padding: 9px;
  font-family: raleway;
}

.preview_grid.content form input[type=submit]
	{
		background: #e9a59c;
	    color: #fff;
	    font-size: 24px;
	    border: 0;
	    outline: 0;
	    margin: -10px auto 0 auto;
	    padding: 16px 20px;
	    text-shadow:none;
	}
	
	.preview_grid label {
  font-size: 14px;
  line-height: 1;
}

img.popup_form_link_image {display:block; margin: 0 auto 40px auto;}



@media screen and (max-width: 768px) {
	.preview_grid.content form .popup_top h2 {display:none;}
	.preview_grid.content form .popup_top h3 {font-size:26px;}
	.preview_grid.content form label.gfield_label {font-size:14px;}
	.preview_grid.content form ul.gfield_radio li {font-size:14px;}
}

@media screen and (max-width: 480px) {
	.preview_grid.content form .popup_top {padding-bottom:10px;}
	.preview_grid.content form .popup_top h2 {display:none;}
	.preview_grid.content form .popup_top h3 {font-size:14px; margin-bottom:0;}
	.preview_grid.content form .popup_top img {display:none;}
	.preview_grid.content form label.gfield_label {font-size:14px; padding-bottom:0;}
	.preview_grid.content form ul.gform_fields {margin-bottom: 4px !important;}
	.preview_grid.content form ul.gfield_radio {padding-bottom:4px;}
	.preview_grid.content form ul li {margin-bottom: 6px !important;}
	.preview_grid.content form input[type=text] {width:90%; font-size:14px; padding: 6px 6px; margin-top:5px;}
	.preview_grid.content form input[type=submit] {width:90%; font-size:16px; padding: 10px 10px;}
	#cboxOverlay {background:#fff; opacity: 1 !important;}
	.preview_grid {padding: 12px 0 0 0 !important;}
	.gform_footer {padding-bottom:3px;}
	.gform_body {padding-bottom:14px;}
}


#cboxLoadedContent {
    margin-bottom: 0;
}