html,
body,
body div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
figure,
footer,
header,
menu,
nav,
section,
time,
mark,
audio,
video,
details,
summary {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	background: transparent;
}

article,
aside,
figure,
footer,
header,
nav,
section,
details,
summary {
	display: block;
}

html {
	box-sizing: border-box;
	scroll-behavior: auto;
}

*,
*:before,
*:after {
	box-sizing: inherit;
}

img,
object,
embed {
	max-width: 100%;
}

html {
	overflow-y: scroll;
}

ul {
	list-style: none;
}

blockquote,
q {
	quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
	content: "";
	content: none;
}

a {
	margin: 0;
	padding: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
	outline: 0;
}

del {
	text-decoration: line-through;
}

abbr[title],
dfn[title] {
	border-bottom: 1px dotted #000;
	cursor: help;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

th {
	font-weight: bold;
	vertical-align: bottom;
}

td {
	font-weight: normal;
	vertical-align: top;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #ccc;
	margin: 10px 0;
	padding: 0;
}

input,
select {
	vertical-align: middle;
}

pre {
	white-space: pre;
	white-space: pre-wrap;
	white-space: pre-line;
	word-wrap: break-word;
}

input[type="radio"] {
	vertical-align: text-bottom;
}

input[type="checkbox"] {
	vertical-align: middle;
}

.ie7 input[type="checkbox"] {
	vertical-align: baseline;
}

.ie6 input {
	vertical-align: text-bottom;
}

select,
input,
textarea {
	font: 99% sans-serif;
}

table {
	font-size: inherit;
	font: 100%;
}

small {
	font-size: 85%;
}

strong {
	font-weight: bold;
}

td,
td img {
	vertical-align: top;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
}

sup {
	top: -0.5em;
}

sub {
	bottom: -0.25em;
}

pre,
code,
kbd,
samp {
	font-family: monospace, sans-serif;
}

.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
	cursor: pointer;
}

button,
input,
select,
textarea {
	margin: 0;
}

button,
input[type=button] {
	width: auto;
	overflow: visible;
}

.ie7 img {
	-ms-interpolation-mode: bicubic;
}

.clearfix:before,
.clearfix:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.clearfix:after {
	clear: both;
}

.clearfix {
	zoom: 1;
}

.input_tiny {
	width: 50px;
}

.input_small {
	width: 100px;
}

.input_medium {
	width: 150px;
}

.input_large {
	width: 200px;
}

.input_xlarge {
	width: 250px;
}

.input_xxlarge {
	width: 300px;
}

.input_full {
	width: 100%;
}

.input_full_wrap {
	display: block;
	padding-right: 8px;
}

input[type="search"]::-webkit-search-decoration {
	display: none;
}

input:invalid,
button:invalid,
a.button:invalid,
select:invalid,
textarea:invalid {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

input:focus,
button:focus,
a.button:focus,
select:focus,
textarea:focus {
	-webkit-box-shadow: #0066ff 0 0 5px 0;
	-moz-box-shadow: #0066ff 0 0 5px 0;
	box-shadow: #0066ff 0 0 5px 0;
	z-index: 1;
}

input[type="file"]:focus,
input[type="file"]:active,
input[type="radio"]:focus,
input[type="radio"]:active,
input[type="checkbox"]:focus,
input[type="checkbox"]:active {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
}

button,
a.button,
input[type="reset"],
input[type="submit"]
{
	-webkit-appearance: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	-ms-border-radius: 4px;
	-o-border-radius: 4px;
	border-radius: 4px;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	background: #dddddd url("../images/button.png?1298351022") repeat-x;
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(100%, #dddddd));
	background-image: -webkit-linear-gradient(white, #dddddd);
	background-image: -moz-linear-gradient(white, #dddddd);
	background-image: -o-linear-gradient(white, #dddddd);
	background-image: linear-gradient(#ffffff, #dddddd);
	border: 1px solid;
	border-color: #dddddd #bbbbbb #999999;
	cursor: pointer;
	color: #333333;
	display: inline-block;
	font: bold 12px/1.3 "Helvetica Neue", Arial, "Liberation Sans", FreeSans, sans-serif;
	outline: 0;
	overflow: visible;
	margin: 0;
	padding: 3px 10px;
	text-shadow: white 0 1px 1px;
	text-decoration: none;
	vertical-align: top;
	width: auto;
	*padding-top: 2px;
	*padding-bottom: 0;
}

button:hover,
a.button:hover,
input[type="reset"]:hover,
input[type="submit"]:hover
{
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, white), color-stop(1px, #eeeeee), color-stop(100%, #cccccc));
	background-image: -webkit-linear-gradient(white, #eeeeee 1px, #cccccc);
	background-image: -moz-linear-gradient(white, #eeeeee 1px, #cccccc);
	background-image: -o-linear-gradient(white, #eeeeee 1px, #cccccc);
	background-image: linear-gradient(#ffffff, #eeeeee 1px, #cccccc);
	text-decoration: none;
}

button:active,
a.button:active,
input[type="reset"]:active,
input[type="submit"]:active
{
	background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dddddd), color-stop(100%, #eeeeee));
	background-image: -webkit-linear-gradient(#dddddd, #eeeeee);
	background-image: -moz-linear-gradient(#dddddd, #eeeeee);
	background-image: -o-linear-gradient(#dddddd, #eeeeee);
	background-image: linear-gradient(#dddddd, #eeeeee);
	-webkit-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
	-moz-box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
	box-shadow: inset rgba(0, 0, 0, 0.25) 0 1px 2px 0;
	border-color: #999999 #bbbbbb #dddddd;
}

button::-moz-focus-inner,
a.button::-moz-focus-inner,
input[type="reset"]::-moz-focus-inner,
input[type="submit"]::-moz-focus-inner,
input[type="button"]::-moz-focus-inner {
	border: 0;
	padding: 0;
}

a.button {
	*padding-bottom: 3px;
}

button {
	*padding-top: 1px;
	*padding-bottom: 1px;
}

textarea,
select,
input[type="date"],
input[type="datetime"],
input[type="datetime-local"],
input[type="email"],
input[type="month"],
input[type="number"],
input[type="password"],
input[type="search"],
input[type="tel"],
input[type="text"],
input[type="time"],
input[type="url"],
input[type="week"] {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-background-clip: padding;
	-moz-background-clip: padding;
	background-clip: padding-box;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-ms-border-radius: 0;
	-o-border-radius: 0;
	border-radius: 0;
	-webkit-appearance: none;
	background-color: white;
	border: 1px solid;
	border-color: #848484 #c1c1c1 #e1e1e1;
	color: black;
	outline: 0;
	margin: 0;
	padding: 6px 6px;
	text-align: left;
	font-size: 13px;
	font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
	height: auto;
	vertical-align: top;
	*padding-top: 2px;
	*padding-bottom: 1px;
	*height: auto;
}

textarea[disabled],
select[disabled],
input[type="date"][disabled],
input[type="datetime"][disabled],
input[type="datetime-local"][disabled],
input[type="email"][disabled],
input[type="month"][disabled],
input[type="number"][disabled],
input[type="password"][disabled],
input[type="search"][disabled],
input[type="tel"][disabled],
input[type="text"][disabled],
input[type="time"][disabled],
input[type="url"][disabled],
input[type="week"][disabled] {
	background-color: #eeeeee;
}

button[disabled],
input[disabled],
select[disabled],
select[disabled] option,
select[disabled] optgroup,
textarea[disabled],
a.button_disabled {
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
	box-shadow: none;
	-moz-user-select: -moz-none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	user-select: none;
	color: #888888;
	cursor: default;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: rgba(108, 107, 102, 0.66);
}

input:-moz-placeholder,
textarea:-moz-placeholder {
	color: rgba(108, 107, 102, 0.66);
}

input.placeholder_text,
textarea.placeholder_text {
	color: rgba(108, 107, 102, 0.66);
}

textarea,
select[size],
select[multiple] {
	height: auto;
}

select[size="0"],
select[size="1"] {
	height: auto;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
	select[size],
	select[multiple],
	select[multiple][size] {
		background-image: none;
		padding-right: 3px;
	}
	select,
	select[size="0"],
	select[size="1"] {
		background-image: url(data:image/png;base64,R0lGODlhDQAEAIAAAAAAAP8A/yH5BAEHAAEALAAAAAANAAQAAAILhA+hG5jMDpxvhgIAOw==);
		background-repeat: no-repeat;
		background-position: right center;
		padding-right: 20px;
	}
	 ::-webkit-validation-bubble-message {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0, #666666), color-stop(1, black));
		border: 0;
		color: white;
		font: 13px/17px "Lucida Grande", Arial, "Liberation Sans", FreeSans, sans-serif;
		overflow: hidden;
		padding: 15px 15px 17px;
		text-shadow: black 0 0 1px;
		min-height: 16px;
	}
	 ::-webkit-validation-bubble-arrow,
	 ::-webkit-validation-bubble-top-outer-arrow,
	 ::-webkit-validation-bubble-top-inner-arrow {
		-webkit-box-shadow: none;
		box-shadow: none;
		background: #666666;
		border-color: #666666;
	}
}

textarea {
	min-height: 40px;
	overflow: auto;
	resize: vertical;
	width: 100%;
}

optgroup {
	color: black;
	font-style: normal;
	font-weight: normal;
	font-family: Arial, "Liberation Sans", FreeSans, sans-serif;
}

optgroup::-moz-focus-inner {
	border: 0;
	padding: 0;
}

.ie6_button,
* html button,
* html a.button {
	background: #dddddd url("../images/button.png?1298351022") repeat-x;
	border: 1px solid;
	border-color: #dddddd #bbbbbb #999999;
	cursor: pointer;
	color: #333333;
	font: bold 12px/1.2 Arial, sans-serif;
	padding: 2px 10px 0;
	text-decoration: none;
	overflow: visible;
	vertical-align: top;
	width: auto;
}

* html a.button {
	position: relative;
	top: 3px;
	padding-bottom: 2px;
}

* html button {
	padding-top: 1px;
	padding-bottom: 1px;
}

.ie6_input,
* html textarea,
* html select {
	background: white;
	border: 1px solid;
	border-color: #848484 #c1c1c1 #e1e1e1;
	color: black;
	padding: 2px 3px 1px;
	font-size: 13px;
	font-family: Arial, sans-serif;
	vertical-align: top;
}

* html select {
	margin-top: 1px;
}

.placeholder_text,
.ie6_input_disabled,
.ie6_button_disabled {
	color: rgba(108, 107, 102, 0.66);
}

.ie6_input_disabled {
	background: #eeeeee;
}

body {
	font-family: "Raleway", sans-serif;
	-webkit-font-smoothing: subpixel-antialiased;
	/* -webkit-animation: bugfix infinite 1s; */
}

/* @-webkit-keyframes bugfix {
	from {
		padding: 0;
	}
	to {
		padding: 0;
	}
} */

.print_only {
	display: none;
}

@media print {
	.print_only {
		display: block;
	}
}

span.pink {
	color: #e9a59c;
}

span.green {
	color: #73d2ba;
}

.container {
	margin: 0 auto;
	width: 1100px;
	padding: 0 20px !important;
	zoom: 1;
}

/*.home .container {*/
/*	width: 1050px;*/
/*	max-width: 100%;*/
/*}*/

@media screen and (max-width: 1050px) {
	.container {
		width: 100%;
	}
}

.container:before,
.container:after {
	content: "\0020";
	display: block;
	height: 0;
	overflow: hidden;
}

.container:after {
	clear: both;
}

.content {
	float: left;
	width: 100%;
	background: #fff;
	padding: 30px 0 40px 0;
}

.content .main {
	float: left;
	width: 69%;
	margin: 30px 0 0 0;
}

.content .main.full {
	float: left;
	width: 100%;
}

@media screen and (max-width: 1020px) {
	.content .main {
		width: calc(100% - 310px);
	}
}

@media screen and (max-width: 940px) {
	.content .main {
		float: left;
		width: 100%;
	}
}

.content .main h1,
.content .main h2,
.content .main h3,
.content .main h4,
.content .main h5,
.content .main h6 {
	margin: 10px 0 25px 0;
	color: #e9a59c;
}

.content .main h1,
.content .main h2 {
	font-size: 100px;
	font-family: "steelheartregular", "Raleway", sans-serif;
}

.content .main h3 {
	font-size: 30px;
}

.content .main h4 {
	font-size: 26px;
}

.content .main h5 {
	font-size: 22px;
}

.content .main h6 {
	font-size: 18px;
}

.content .main p {
	padding: 0 0 18px 0;
	font-size: 19px;
    font-family: lato;
    font-weight: 300;
    line-height: 29px;
}

.content .main ul li {
	list-style: disc;
}

.content .main ol li {
	list-style: decimal;
}

.content .main ul,
.content .main ol {
	margin: 20px 0;
}

.content .main ul li,
.content .main ol li {
	margin: 0 0 0 20px;
}

.content .main li {
	font-size: 15px;
	line-height: 1.3;
}

.content .main li ul,
.content .main li ol {
	margin: 5px 0;
}

.content .main a {
	color: #e9a59c;
	text-decoration: underline;
}

.content .main ul.gform_fields,
.content .main ul li.gfield,
.content .main ul li.gfield li {
	margin: 0 0 12px 0;
	padding: 0;
	list-style: none;
}

.gform_heading,
.gform_body,
.gform_footer {
	clear: both;
	padding-bottom: 20px;
}

li.gfield {
	clear: both;
}

li.gfield.hidden_label label.gfield_label,
li.gfield.hidden_label label.hidden_sub_label {
	display: none;
}

.ginput_container span {
	margin-bottom: 10px;
}

.ginput_container input.large,
.ginput_container select.large,
.ginput_container textarea.large {
	width: 100%;
}

.ginput_container input.medium,
.ginput_container select.medium,
.ginput_container textarea.medium {
	width: 66%;
}

.ginput_container input.small,
.ginput_container select.small,
.ginput_container textarea.small {
	width: 33%;
}

.ginput_container input,
.ginput_container textarea {
	margin: 2px;
}

label.gfield_label {
	display: inline-block;
	padding-bottom: 10px;
}

.left_label label.gfield_label {
	float: left;
	width: 25%;
}

.right_label label.gfield_label {
	float: right;
	width: 25%;
}

.gfield_required {
	padding-left: 5px;
}

ul.gfield_checkbox,
ul.gfield_radio {
	list-style: none;
	padding: 0;
}

ul.gfield_checkbox input,
ul.gfield_radio input {
	margin-right: 10px;
	position: relative;
}

ul.gfield_radio input {
	margin-left: 2px;
}

.gsection h2 {
	border-bottom: 3px solid black;
	padding-bottom: 15px;
}

.gf_progressbar_wrapper {
	padding-bottom: 15px;
}

.gf_progressbar {
	background: gray;
}

.gf_progressbar_percentage {
	background: red;
	padding: 5px 10px;
	text-align: right;
}

.gfield_time_hour,
.gfield_time_minute,
.gfield_time_ampm {
	display: inline;
	display: inline-block;
}

.gfield_time_hour label,
.gfield_time_minute label {
	display: block;
}

.gfield_time_ampm {
	vertical-align: top;
}

.validation_error {
	display: none;
}

li.gfield.gfield_error input,
li.gfield.gfield_error textarea {
	border: 1px solid red !important;
}

li.gfield.gfield_error label.gfield_label {
	font-weight: bold;
}

li.gfield .validation_message {
	display: none;
}

.gform_ajax_spinner {
	margin: 10px 20px;
}

.gform_validation_container {
	display: none;
}

.ginput_full {
	display: block;
}

.ginput_full input,
.ginput_full select,
.ginput_full textarea {
	margin-bottom: 5px;
	width: 100%;
}

.ginput_full label {
	display: block;
}

.ginput_left {
	float: left;
	padding-right: 10px;
	width: 50%;
}

.ginput_left input,
.ginput_left select,
.ginput_left textarea {
	margin-bottom: 5px;
	width: 100%;
}

.ginput_left label {
	display: block;
}

.ginput_right {
	float: right;
	width: 50%;
}

.ginput_right input,
.ginput_right select,
.ginput_right textarea {
	margin-bottom: 5px;
	width: 100%;
}

.ginput_right label {
	display: block;
}

.ginput_right {
	float: right;
	width: 50%;
}

li.gf_left_half {
	clear: none;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 50%;
}

li.gf_right_half {
	clear: none;
	float: right;
	padding-bottom: 10px;
	width: 50%;
}

li.gf_left_third {
	clear: none;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 33%;
}

li.gf_middle_third {
	clear: none;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 34%;
}

li.gf_right_third {
	clear: none;
	float: right;
	padding-bottom: 10px;
	width: 33%;
}

li.gf_first_quarter {
	clear: none;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

li.gf_second_quarter {
	clear: none;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
	width: 25%;
}

li.gf_third_quarter {
	clear: none;
	float: left;
	padding-bottom: 10px;
	width: 25%;
}

li.gf_fourth_quarter {
	clear: none;
	float: right;
	padding-bottom: 10px;
	width: 25%;
}

@media screen and (max-width: 480px) {
	li.gf_left_half,
	li.gf_right_half,
	li.gf_left_third,
	li.gf_middle_third,
	li.gf_right_third,
	li.gf_first_quarter,
	li.gf_second_quarter,
	li.gf_third_quarter,
	li.gf_fourth_quarter {
		width: 100%;
	}
}

.gf_list_2col ul.gfield_checkbox li,
.gf_list_2col ul.gfield_radio li {
	float: left;
	padding-bottom: 10px;
	width: 50%;
}

.gf_list_3col ul.gfield_checkbox li,
.gf_list_3col ul.gfield_radio li {
	float: left;
	padding-bottom: 10px;
	width: 33%;
}

.gf_list_4col ul.gfield_checkbox li,
.gf_list_4col ul.gfield_radio li {
	float: left;
	padding-bottom: 10px;
	width: 25%;
}

.gf_list_5col ul.gfield_checkbox li,
.gf_list_5col ul.gfield_radio li {
	float: left;
	padding-bottom: 10px;
	width: 20%;
}

.gf_list_inline ul.gfield_checkbox li,
.gf_list_inline ul.gfield_radio li {
	display: inline-block;
	padding-right: 10px;
	padding-bottom: 10px;
}

@media screen and (max-width: 480px) {
	.gf_list_2col ul.gfield_checkbox li,
	.gf_list_2col ul.gfield_radio li,
	.gf_list_3col ul.gfield_checkbox li,
	.gf_list_3col ul.gfield_radio li,
	.gf_list_4col ul.gfield_checkbox li,
	.gf_list_4col ul.gfield_radio li,
	.gf_list_5col ul.gfield_checkbox li,
	.gf_list_5col ul.gfield_radio li {
		width: 100%;
	}
}

img {
	max-width: 100%;
	height: auto;
}

.alignleft {
	margin: 0 25px 10px 0;
	float: left;
}

.alignright {
	margin: 0 0 10px 25px;
	float: right;
}

.aligncenter {
	margin: 0 auto 5px auto;
	display: block;
}

.alignnone {
	margin: 0 0 0 0;
}

.wp-caption {
	max-width: 96%;
}

body.home header {
	background: white;
	background-size: cover;
}
.hide-title {
	display: none;
}
body.home #seen_on_list .container{
	max-width: 1360px;
	width: auto;
}

@media print {
	body.home header {
		display: none;
	}
}

header {
	float: left;
	width: 100%;
	background: #fff;
}

/*header .logo {*/
/*	float: left;*/
/*	width: 166px;*/
/*	position: relative;*/
/*}*/

/*header .logo img {*/
/*	float: left;*/
/*	margin: 42px 30px 0 0;*/
/*}*/

@media print {
	header .logo img {
		margin-top: 0;
	}
}

@media screen and (max-width: 850px) {
	header .logo img {
		display: block;
		float: left;
		margin: 10px auto;
	}
}

@media screen and (max-width: 500px) {
	header .logo img {
		margin-bottom: 0;
	}
}

@media screen and (max-width: 850px) {
	header .logo {
		float: left;
		width: 100%;
	}
}

/*header .top_wrap {*/
/*	float: right;*/
/*	width: 604px;*/
/*}*/

@media screen and (max-width: 1024px) {
	header .top_wrap {
		display: none;
	}
}

@media screen and (max-width: 850px) {
	header .top_wrap {
		float: left;
		width: 100%;
	}
}

/*header .top_wrap .topbar {*/
/*	float: left;*/
/*	padding: 15px 0 15px;*/
/*	width: 100%;*/
/*}*/

@media screen and (max-width: 850px) {
	header .top_wrap .topbar {
		padding-top: 0px;
	}
}

header .top_wrap .topbar form {
	float: left;
}

@media screen and (max-width: 540px) {
	header .top_wrap .topbar form {
		float: left;
		width: 100%;
	}
}

header .top_wrap .topbar form i,
.mobile-nav form i {
	color: #73d2ba;
	font-size: 18px;
	margin: 8px 0 0 -30px;
	float: left;
	background: #fff;
}

header .top_wrap .topbar form input {
	font-size: 12px;
	line-height: 32px;
	color: rgba(108, 107, 102, 0.66);
	float: left;
	height: 34px;
}

header .top_wrap .topbar form input[type="search"] {
	border: 1px solid #e1d7e1;
	font-style: italic;
	font-weight: 300;
	padding: 0 10px;
	width: 250px;
}

@media screen and (max-width: 540px) {
	header .top_wrap .topbar form input[type="search"] {
		float: left;
		width: 100%;
	}
}

header .top_wrap .topbar form input[type="submit"],
.mobile-nav form input[type="submit"] {
	margin: 0 0 0 -27px;
	background: 0;
	border: 0;
}

.mobile-nav #searchform {
	background-color: #f04f53;
	text-align: center;
	padding: 10px;
}

.mobile-nav #searchform input[type="search"] {
	width: 100%;
}

.mobile-nav form i {
	color: #000;
	float: right;
	margin-top: -24px;
	position: relative;
	padding-right: 5px;
	margin-left: 0;
	margin-right: 1px;
}

.mobile-nav form input[type="submit"] {
	float: right;
	margin-top: -26px;
}

header .top_wrap .topbar .links {
	float: right;
	font-weight: 600;
	font-size: 15px;
	padding: 8px 3px 0 0;
}

@media screen and (max-width: 540px) {
	header .top_wrap .topbar .links {
		float: left;
		width: 100%;
		text-align: center;
		padding-bottom: 20px;
	}
}

header .top_wrap .topbar .links a {
	color: #73d2ba;
	text-decoration: none;
	padding: 0 2px;
}

header .top_wrap .topbar .links a:after {
	content: " |";
	color: #ccc;
	padding: 0 0 0 5px;
}

header .top_wrap .topbar .links a:last-of-type {
	color: #e9a59c;
	padding-right: 0;
}

header .top_wrap .topbar .links a:last-of-type:after {
	display: none;
}

/*header .top_wrap nav {*/
/*	float: left;*/
/*	width: 100%;*/
/*	font-size: 14px;*/
/*	font-weight: 700;*/
/*	padding: 0 10px;*/
/*	background: rgba(0, 0, 0, 0.6);*/
/*	position: relative;*/
/*}*/

/*header .top_wrap nav:after {*/
/*	position: absolute;*/
/*	bottom: -5px;*/
/*	left: 0;*/
/*	width: 100%;*/
/*	height: 3px;*/
/*	background: rgba(255, 255, 255, 0.75);*/
/*	content: "";*/
/*}*/

 #header ul.menu > li > a {
	color: #1F1F1F;
	font-family: 'Lato', sans-serif;
	font-size: 15px;
	text-transform: uppercase;
	font-weight: 700;
}
#header .sub-menu > li > a{
	color: #1F1F1F;
	font-family: 'Lato', sans-serif;
	font-weight: 700;
	font-size: 15px;

}
@media screen and (max-width: 850px) {
	header .top_wrap nav:after {
		display: none;
	}
}

header .top_wrap nav label.show-menu {
	display: none;
	font-size: 18px;
	font-family: "Raleway", sans-serif;
	padding: 6px 0;
	color: #fff;
}

@media screen and (max-width: 850px) {
	header .top_wrap nav label.show-menu {
		display: block;
	}
}

header .top_wrap nav label.show-menu i {
	padding: 0 10px 0 0;
}

header .top_wrap nav input[type=checkbox] {
	display: none;
}

header .top_wrap nav input[type=checkbox]:checked~.menu-menu-container {
	display: block;
}

header .top_wrap nav .menu-menu-container {
	float: left;
	width: 100%;
}

@media screen and (max-width: 850px) {
	header .top_wrap nav .menu-menu-container {
		display: none;
		padding: 0 0 10px 0;
	}
}

header .top_wrap nav .menu-menu-container li {
	float: left;
	color: #fff;
	padding: 10px 12px;
	position: relative;
}

@media screen and (max-width: 850px) {
	header .top_wrap nav .menu-menu-container li {
		float: left;
		width: 100%;
		padding-bottom: 8px;
	}
}

header .top_wrap nav .menu-menu-container li:hover:after,
header .top_wrap nav .menu-menu-container li.current-menu-item:after {
	position: absolute;
	bottom: -5px;
	left: 0;
	width: 100%;
	height: 3px;
	background: #73d2ba;
	content: "";
	z-index: 100;
	padding: 0 8px;
	box-sizing: content-box;
	margin-left: -10px;
}

@media screen and (max-width: 850px) {
	header .top_wrap nav .menu-menu-container li:hover:after,
	header .top_wrap nav .menu-menu-container li.current-menu-item:after {
		display: none;
	}
}

header .top_wrap nav .menu-menu-container li.current-menu-item a {
	color: #e9a59c;
}

header .top_wrap nav .menu-menu-container li.menu-item-has-children:hover:after {
	display: none;
}

header .top_wrap nav .menu-menu-container li a {
	color: #fff;
	text-decoration: none;
}

header .top_wrap nav .menu-menu-container li a:hover {
	color: #e9a59c;
}

header .top_wrap nav .menu-menu-container li:hover ul.sub-menu {
	display: block;
}

header .top_wrap nav .menu-menu-container li ul.sub-menu {
	display: none;
	position: absolute;
	top: 36px;
	left: 5px;
	width: 250px;
	z-index: 1000;
	background: rgba(0, 0, 0, 0.6);
	padding: 4px 0 10px 0;
}

@media screen and (max-width: 850px) {
	header .top_wrap nav .menu-menu-container li ul.sub-menu {
		display: block;
		position: relative;
		top: 8px;
		left: 12px;
		padding: 0;
	}
}

header .top_wrap nav .menu-menu-container li ul.sub-menu li {
	float: left;
	width: 100%;
}

header .top_wrap nav .menu-menu-container li ul.sub-menu li:after {
	display: none;
}

header .top_wrap nav .menu-menu-container li ul.sub-menu li.current-menu-item a {
	color: #e9a59c;
}

header .top_wrap nav .menu-menu-container li ul.sub-menu li a {
	color: #fff;
}

header .top_wrap nav .menu-menu-container li ul.sub-menu li a:hover {
	color: #e9a59c;
}

header h1 {
	color: #000;
	font-size: 116px;
	font-family: "steelheartregular", "Raleway", sans-serif;
	padding: 130px 0 100px 60px;
	line-height: 0.8;
	max-width: 550px;
}

@media screen and (max-width: 600px) {
	header h1 {
		float: left;
		width: 100%;
		max-width: 100%;
		text-align: center;
		padding: 80px 0;
	}
}

header h1 span {
	color: #e9a59c;
	display: block;
	margin-left: -60px;
	padding: 0 0 20px 0;
	background: url(images/swish.png) no-repeat 50% bottom;
}

@media screen and (max-width: 600px) {
	header h1 span {
		margin-left: 0;
	}
}

header .intro {
	float: left;
	width: 100%;
	padding: 0 100px 20px 120px;
}

@media screen and (max-width: 1050px) {
	header .intro {
		padding: 0 60px 20px 60px;
	}
}

@media screen and (max-width: 767px) {
	header .intro {
		padding: 0 0 20px 0;
	}
}

header .intro img.pic {
	float: left;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	height: 150px;
	width: 150px;
	position: relative;
}

@media screen and (max-width: 500px) {
	header .intro img.pic {
		float: none;
		display: block;
		margin: 0 auto 40px auto;
	}
}

header .intro .bio {
	float: left;
	width: 65%;
	width: calc(100% - 100px);
	margin: 10px 0 0 -50px;
	padding: 20px 10px 12px 70px;
	background: rgba(232, 232, 224, 0.43);
}

@media screen and (max-width: 500px) {
	header .intro .bio {
		float: left;
		width: 100%;
		margin-left: 0;
		padding: 20px 10px;
	}
}

header .intro .bio h2 {
	font-family: "steelheartregular", "Raleway", sans-serif;
	font-size: 73px;
	color: #fff;
	margin: -60px 0 0 18px;
	float: left;
	width: 100%;
}

@media screen and (max-width: 500px) {
	header .intro .bio h2 {
		text-align: center;
		margin-left: 0;
	}
}

header .intro .bio p {
	font-size: 13px;
	color: #0e0e0e;
	font-weight: 300;
	line-height: 1.538;
}

header .intro .bio p strong {
	font-weight: 600;
}

@media print {
	#icegram_messages_container,
	.nc_socialPanel {
		display: none;
	}
}

#seen_on_list {
	float: left;
	width: 100%;
	margin-bottom: 30px;
}

@media print {
	#seen_on_list {
		display: none;
	}
}

#seen_on_list .container h6 {
	font-family: "steelheartregular", "Raleway", sans-serif;
	font-size: 45px;
	text-align: left;
	margin-bottom: 10px;
	color: #e9a59c;
	padding-left: 10px;
	padding-right: 10px;
}

@media screen and (max-width: 480px) {
	#seen_on_list .container h6 {
		text-align: center;
	}
}
.content .main #recipe_grid {
	float: left;
	width: 100%;
	margin: 0 0 0 -2px;
}

.content .main #recipe_grid li.widget_text {
	float: left;
	width: 100%;
	margin: 20px 0;
	text-align: center;
	list-style: none;
	display: none;
}

@media screen and (max-width: 767px) {
	.content .main #recipe_grid li.widget_text {
		display: block;
	}
}

.content .main #recipe_grid .mix {
	display: none;
	float: left;
	width: 33.333333%;
	padding: 0 2px;
	margin: 0;
	list-style: none;
	position: relative;
}

@media screen and (max-width: 600px) {
	.content .main #recipe_grid .mix {
		width: 50%;
	}
}

@media screen and (max-width: 360px) {
	.content .main #recipe_grid .mix {
		float: left;
		width: 100%;
	}
}

.content .main #recipe_grid .mix img {
	width: 100%;
}

.content .main #recipe_grid .mix .interact {
	display: none;
	background: rgba(255, 255, 255, 0.78);
	position: absolute;
	top: 16px;
	right: 18px;
	padding: 8px 10px;
	font-size: 17px;
}

.content .main #recipe_grid .mix .interact .pinit {
	margin: 2px 6px 0 0;
	float: left;
}

.content .main #recipe_grid .mix .interact a {
	color: #000;
	text-decoration: none;
	margin: 0 2px;
}

@media screen and (max-width: 600px) {
	.content .main #recipe_grid .mix .interact a i.fa-arrows-alt {
		display: none;
	}
}

.content .main #recipe_grid .mix .interact a:hover i.fa-arrows-alt {
	color: #e9a59c;
}

.content .main #recipe_grid .mix .interact a:hover i.fa-star {
	color: #e5c100;
}

.content .main #recipe_grid .mix .interact a:hover i.fa-star.gold {
	color: #000;
}

.content .main #recipe_grid .mix .interact a i.fa.gold {
	color: #e5c100;
}

.content .main #recipe_grid .mix:hover .interact {
	display: block;
}

.content .main #recipe_grid .mix .overlay {
	float: left;
	width: 100%;
	position: relative;
}

.content .main #recipe_grid .mix .overlay h4 {
	width: 100%;
	position: absolute;
	left: 0;
	bottom: 5px;
	color: #fff;
	font-size: 13px;
	font-weight: 300;
	background: rgba(0, 0, 0, 0.6);
	padding: 20px 20px;
	margin: 0;
}

.content .main #recipe_grid .mix .overlay h4 a {
	color: #fff;
	text-decoration: none;
}

.preview_grid {
	margin: 0 !important;
	padding: 30px 30px !important;
	box-sizing: border-box !important;
}

.preview_grid .title {
	float: left !important;
	width: 100% !important;
}

.preview_grid .title .share {
	float: left !important;
	text-align: left !important;
	background: none !important;
}

.preview_grid h2.how {
	margin-top: 0 !important;
}

.preview_grid .content,
.preview_grid .main {
	margin: 0;
	padding: 0;
}

.preview_grid .content span ul,
.preview_grid .main span ul {
	float: left;
	width: 100%;
}

.wpfp-span img {
	display: none !important;
}


/* Colorbox Core Style: The following CSS is consistent between example themes and should not be altered.
*/

#colorbox,
#cboxOverlay,
#cboxWrapper {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 9999;
	overflow: hidden;
	-webkit-transform: translate3d(0, 0, 0);
	transform: translate3d(0,0,0);
}

#cboxWrapper {
	max-width: none;
}

#cboxOverlay {
	position: fixed;
	width: 100%;
	height: 100%;
}

#cboxMiddleLeft,
#cboxBottomLeft {
	clear: left;
}

#cboxContent {
	position: relative;
}

#cboxLoadedContent {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}

#cboxTitle {
	margin: 0;
}

#cboxLoadingOverlay,
#cboxLoadingGraphic {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

#cboxPrevious,
#cboxNext,
#cboxClose,
#cboxSlideshow {
	cursor: pointer;
}

.cboxPhoto {
	float: left;
	margin: auto;
	border: 0;
	display: block;
	max-width: none;
	-ms-interpolation-mode: bicubic;
}

.cboxIframe {
	width: 100%;
	height: 100%;
	display: block;
	border: 0;
	padding: 0;
	margin: 0;
}

#colorbox,
#cboxContent,
#cboxLoadedContent {
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
}


/*  User Style: Change the following styles to modify the appearance of Colorbox.  They are ordered & tabbed in a way that represents the nesting of the generated HTML.
*/

#colorbox {
	outline: 0;
}

#cboxContent {
	background: #fff;
	overflow: hidden;
}

.cboxIframe {
	background: #fff;
}

#cboxError {
	padding: 50px;
	border: 1px solid #ccc;
}

#cboxLoadedContent {
	margin-bottom: 28px;
}

#cboxTitle {
	position: absolute;
	bottom: 4px;
	left: 0;
	text-align: center;
	width: 100%;
	color: #949494;
}

#cboxCurrent {
	position: absolute;
	bottom: 4px;
	left: 58px;
	color: #949494;
}


/* these elements are buttons, and may need to have additional styles reset to avoid unwanted base styles */

#cboxPrevious,
#cboxNext,
#cboxSlideshow,
#cboxClose {
	border: 0;
	padding: 0;
	margin: 0;
	overflow: visible;
	width: auto;
	background: none;
}


/* avoid outlines on :active (mouseclick), but preserve outlines on :focus (tabbed navigating) */

#cboxPrevious:active,
#cboxNext:active,
#cboxSlideshow:active,
#cboxClose:active {
	outline: 0;
}

#cboxSlideshow {
	position: absolute;
	bottom: 4px;
	right: 30px;
	color: #0092ef;
}


/* The following fixes a problem where IE7 and IE8 replace a PNG's alpha transparency with a black fill when an alpha filter (opacity change) is set on the element or ancestor element.  This style is not applied to or needed in IE9. See: http://jacklmoore.com/notes/ie-transparency-problems/
*/

.cboxIE #cboxTopLeft,
.cboxIE #cboxTopCenter,
.cboxIE #cboxTopRight,
.cboxIE #cboxBottomLeft,
.cboxIE #cboxBottomCenter,
.cboxIE #cboxBottomRight,
.cboxIE #cboxMiddleLeft,
.cboxIE #cboxMiddleRight {
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#00FFFFFF, endColorstr=#00FFFFFF);
}

ul.search_results {
	display: block;
	background: #fff;
	width: 250px;
	max-height: 500px;
	position: absolute;
	top: 21px;
	left: 0px;
	overflow: auto;
	z-index: 9999;
	border: 1px solid #e1d7e1;
}

ul.search_results li {
	display: block;
	padding: 5px 10px 5px 10px;
	margin: 0;
	text-align: left;
	color: #000;
	text-decoration: none;
	cursor: pointer;
}

ul.search_results li:hover {
	background: #e9a59c;
}

ul.search_results li a,
ul.search_results li a:visited {
	display: block;
	color: #000;
	text-decoration: none;
	font-size: 13px;
	line-height: 1.5;
}

ul.search_results li.post_with_thumb a {
	width: 150px;
	float: left;
	margin-bottom: 5px;
}

ul.search_results li.post_with_thumb img.post_thumb {
	float: left;
	margin: 3px 10px 3px 0;
	height: 48px;
	width: 48px;
}

.search_footer {
	width: 100%;
	background: #e9a59c;
	text-align: center;
	padding: 10px 10px;
	font-size: 12px;
	text-decoration: underline;
}

.search_footer a,
.search_footer a:visited {
	color: #fff;
}

#search_results_activity_indicator {
	z-index: 999999;
}

span#search_results_activity_indicator {
	display: none !important;
}

.recipe_search form,
.recipe_search form.searchandfilter {
	float: left;
	width: 100%;
}

.recipe_search form i,
.recipe_search form.searchandfilter i {
	color: #73d2ba;
	font-size: 18px;
	margin: 8px 0 0 -30px;
	float: left;
	background: #fff;
}

.recipe_search form input[type="search"],
.recipe_search form input[type="text"],
.recipe_search form input[type="submit"],
.recipe_search form select,
.recipe_search form.searchandfilter input[type="search"],
.recipe_search form.searchandfilter input[type="text"],
.recipe_search form.searchandfilter input[type="submit"],
.recipe_search form.searchandfilter select {
	font-size: 12px;
	line-height: 32px;
	color: rgba(108, 107, 102, 0.66);
	float: left;
	height: 34px;
	margin: 0 0 12px 0;
}

.recipe_search form input[type="search"],
.recipe_search form input[type="text"],
.recipe_search form.searchandfilter input[type="search"],
.recipe_search form.searchandfilter input[type="text"] {
	float: left;
	width: 100%;
	border: 1px solid #e1d7e1;
	font-style: italic;
	font-weight: 300;
	padding: 0 10px;
}

.recipe_search form input[type="submit"],
.recipe_search form.searchandfilter input[type="submit"] {
	margin: 0 0 0 -27px;
	background: 0;
	border: 0;
	width: auto;
}

.recipe_search form select,
.recipe_search form.searchandfilter select {
	float: left;
	width: 100%;
	border: 1px solid #e1d7e1;
	font-style: italic;
	font-weight: 300;
	padding: 9px 10px;
	line-height: 1;
}

.recipe_search form .chosen-container,
.recipe_search form.searchandfilter .chosen-container {
	width: 100% !important;
}

.recipe_search form ul,
.recipe_search form.searchandfilter ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.recipe_search form ul.chosen-choices,
.recipe_search form ul.chosen-results,
.recipe_search form.searchandfilter ul.chosen-choices,
.recipe_search form.searchandfilter ul.chosen-results {
	padding: 10px 10px;
}

.recipe_search form ul li,
.recipe_search form.searchandfilter ul li {
	float: left;
	width: 100%;
	margin: 0;
	list-style: none;
	padding: 2px 0;
	font-size: 12px;
}

.recipe_search form ul li.search-choice,
.recipe_search form ul li.active-result,
.recipe_search form.searchandfilter ul li.search-choice,
.recipe_search form.searchandfilter ul li.active-result {
	width: 95%;
	padding: 6px 6px;
}

.recipe_search form ul li.search-choice a.search-choice-close,
.recipe_search form ul li.active-result a.search-choice-close,
.recipe_search form.searchandfilter ul li.search-choice a.search-choice-close,
.recipe_search form.searchandfilter ul li.active-result a.search-choice-close {
	margin: 3px 3px;
}

.recipe_search form ul li.sf-field-post-meta-recipe_prep_time_group,
.recipe_search form ul li.sf-field-post-meta-recipe_time_group,
.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_prep_time_group,
.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_time_group {
	margin: 0;
}

@media screen and (max-width: 767px) {
	.recipe_search form ul li.sf-field-post-meta-recipe_prep_time_group,
	.recipe_search form ul li.sf-field-post-meta-recipe_time_group,
	.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_prep_time_group,
	.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_time_group {
		width: 50%;
		padding: 0 12px 0 0;
	}
}

.recipe_search form ul li.sf-field-post-meta-recipe_prep_time_group h4,
.recipe_search form ul li.sf-field-post-meta-recipe_time_group h4,
.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_prep_time_group h4,
.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_time_group h4 {
	color: #fff;
	margin-bottom: 5px;
	font-size: 20px;
	padding: 0 0 0 0;
}

.recipe_search form ul li.sf-field-post-meta-recipe_prep_time_group li,
.recipe_search form ul li.sf-field-post-meta-recipe_time_group li,
.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_prep_time_group li,
.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_time_group li {
	float: left;
	margin: 0 7px 4px 0;
	width: auto;
	color: #fff;
}

@media screen and (max-width: 767px) {
	.recipe_search form ul li.sf-field-post-meta-recipe_prep_time_group li,
	.recipe_search form ul li.sf-field-post-meta-recipe_time_group li,
	.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_prep_time_group li,
	.recipe_search form.searchandfilter ul li.sf-field-post-meta-recipe_time_group li {
		float: left;
		width: 100%;
		margin: 0 0 4px 0;
	}
}

.recipe_search form ul li.sf-field-submit input,
.recipe_search form.searchandfilter ul li.sf-field-submit input {
	border: 0;
	background: 0;
	color: #73d2ba;
	font-family: "steelheartregular", "Raleway", sans-serif;
	font-size: 38px;
	font-weight: normal;
	float: right;
	margin: -12px 20px 0 0;
}

.content .main .recipe_search {
	float: left;
	width: 100%;
	background: #e9a59c;
	padding: 30px 30px 25px 30px;
	margin: 0 0 30px 0;
}

.content .main .recipe_search h2 {
	color: #fff;
	font-size: 46px;
	margin: 0 0 20px 0;
}

.content .main .recipe_search h2 i {
	margin: 0 8px 0 0;
	font-size: 30px;
}

body.blog .content .main #recipe_grid .mix,
body.search .content .main #recipe_grid .mix,
body.category .content .main #recipe_grid .mix {
	display: block;
}

.sidebar {
	float: right;
	width: 29%;
	margin: 30px 0 0 0;
	overflow: hidden;
}

@media screen and (max-width: 1020px) {
	.sidebar {
		width: calc(600px - 300px);
	}
}

@media print {
	.sidebar {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	.sidebar.launch {
		display: none;
	}
}

.sidebar.launch ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar.launch ul li {
	list-style: none;
	margin: 0;
	padding: 0;
}

.sidebar.launch ul li.AdWidget_ImageWidget,
.sidebar.launch ul li.adthrive-ad {
	margin: 0 0 15px 0;
}

.sidebar.launch ul li h3.widgettitle {
	font-size: 18px;
	margin: 5px 0 15px 0;
	color: #e9a59c;
}

.sidebar.launch ul#topsidebar {
	margin: 0 0 15px 0;
}

.sidebar.launch ul#leftsidebar {
	float: left;
	width: 44%;
	margin-bottom: 20px;
}

.sidebar.launch ul#leftsidebar ul.faves li {
	text-align: center;
	font-size: 12px;
	margin: 0 0 20px 0;
	float: left;
	width: 100%;
}

.sidebar.launch ul#leftsidebar ul.faves li img {
	margin: 0 0 5px 0;
	width: 100%;
}

.sidebar.launch ul#leftsidebar ul.faves li a {
	text-decoration: none;
	color: #e9a59c;
	text-align: center;
}

.sidebar.launch ul#rightsidebar {
	float: right;
	width: 53.33%;
	margin-bottom: 20px;
}

.sidebar.launch ul#lowersidebar li {
	margin: 0 0 20px 0;
}

@media screen and (max-width: 767px) {
	.sidebar.ideal {
		float: left;
		width: 100%;
	}
}

.sidebar.ideal h3 {
	float: left;
	width: 100%;
	background: #96ddcb;
	padding: 12px 20px;
	color: #fff;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 600;
	margin: 25px 0 20px 0;
}

@media screen and (max-width: 767px) {
	.sidebar.ideal h3 {
		margin-top: 0;
	}
}

.sidebar.ideal h3 i {
	margin: 0 12px 0;
}

.sidebar.ideal h3 a {
	color: #fff;
	text-decoration: none;
}

.sidebar.ideal .faves {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

.sidebar.ideal .faves p {
	float: left;
	width: 100%;
	padding: 10px 0 0 0;
	font-size: 15px;
}

.sidebar.ideal .faves p a {
	color: #73d2ba;
}

.sidebar.ideal .faves h5 a {
	color: #fff;
	text-decoration: none;
}

.sidebar.ideal .faves .wpfp-span {
	float: left;
	width: 100%;
	padding: 10px 20px 0 20px;
	font-size: 15px;
}

.sidebar.ideal .faves .wpfp-span img {
	display: none !important;
}

.sidebar.ideal .faves .wpfp-span li {
	float: left;
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0 0 6px 20px;
	position: relative;
	font-size: 15px;
	line-height: 1.3;
}

.sidebar.ideal .faves .wpfp-span li a {
	color: #e9a59c;
	text-decoration: none;
}

.sidebar.ideal .faves .wpfp-span li a.remove-parent {
	position: absolute;
	top: 0;
	left: 0;
}

.sidebar.ideal .faves .wpfp-span li a.remove-parent i {
	margin: 0 5px 0 0;
	color: #e5c100;
}

.sidebar.ideal .faves .wpfp-span li a.remove-parent i:hover {
	color: #ccc;
}

.sidebar.ideal .faves .wpfp-span a.wpfp-link,
.sidebar.ideal .faves .wpfp-span .navigation {
	display: none;
}

.sidebar.ideal .faves .wpfp-span ul li a.wpfp-link {
	display: block;
}

.sidebar.ideal li.AdWidget_ImageWidget {
	margin: 0 0 15px 0;
	padding: 0;
	list-style: none;
	float: left;
	width: 100%;
}

.sidebar.ideal form.searchandfilter ul li.sf-field-post-meta-recipe_prep_time_group,
.sidebar.ideal form.searchandfilter ul li.sf-field-post-meta-recipe_time_group {
	margin: 16px 0 0 0;
}

.sidebar.ideal form.searchandfilter ul li.sf-field-post-meta-recipe_prep_time_group h4,
.sidebar.ideal form.searchandfilter ul li.sf-field-post-meta-recipe_time_group h4 {
	color: #e9a59c;
	font-size: 14px;
}

.sidebar.ideal form.searchandfilter ul label {
	color: #010101;
}

.content .main .comments_wrap,
.content .main .reviews_wrap {
	float: left;
	width: 100%;
}

@media print {
	.content .main .comments_wrap,
	.content .main .reviews_wrap {
		display: none;
	}
}

.content .main .comments_wrap ol#commentlist {
	float: left;
	width: 100%;
}

.content .main .comments_wrap ol#commentlist .avatar {
	margin: 0 0 7px -70px;
	float: left;
	display: none;
}
@media screen and (max-width: 768px) {
	.content .main .comments_wrap ol#commentlist {
		margin-bottom: 0;
	}
}
.comments_wrap ol#commentlist #respond {
	margin-left: -60px;
}

.content .main .comments_wrap ol#commentlist a {
	text-decoration: none;
}

.content .main .comments_wrap ol#commentlist a.commentnumber {
	display: none;
}

.content .main .comments_wrap ol#commentlist .commentmeta {
	margin: 0;
	color: #5A5A5A;
	font-size: 15px;
}

.content .main .comments_wrap ol#commentlist p.thdrpy {
	margin: 6px 0 0 0;
}

.content .main .comments_wrap ol#commentlist strong {
	font-weight: 700;
	color: #5A5A5A;
}

.content .main .comments_wrap ol#commentlist li,
.content .main .comments_wrap ol#commentlist p {
	font-size: 15px;
	list-style: none;
	margin: 0;
	padding: 0;
}

.content .main .comments_wrap ol#commentlist li {
	margin: 0 0 24px 0;
}

.content .main .comments_wrap ol#commentlist li ul li {
	margin: 10px 30px 10px 0;
	padding: 1% 1% 1% 10%;
}
@media screen and (max-width: 767px) {
	.content .main .comments_wrap ol#commentlist li ul li {
		padding: 3% 3% 3% 13%;
	}
}

.content .main .comments_wrap h4#respondheading,
.content .main .comments_wrap h4#comments {
	float: left;
	width: 100%;
}

.content .main .comments_wrap h4#comments {
	margin-top: 20px;
}

.content .main .comments_wrap form#commentform {
	margin: 10px 0 0 0;
	clear: both;
	overflow: hidden;
}

.content .main .comments_wrap form#commentform label,
.content .main .comments_wrap form#commentform p {
	float: left;
	width: 100%;
	margin: 0 0 4px 0;
}

.content .main .comments_wrap h4#respondheading {
	text-align: center;
	color: #000;
	font-size: 26px;
	margin-bottom: 15px;
}
.comment-form-options {
	display: flex;
}
.comment-form-options span {
	margin-right: 15px;
	display: flex !important;
	align-items: center;
}
.comment-form-options label {
	margin-bottom: 0!important;
}
.comments_wrap textarea,
.comments_wrap input[type="text"],
.comments_wrap input[type="email"],
.comments_wrap input[type="url"] {
	border: 1px solid #000;
}

.comments_wrap input[type="submit"] {
	background: none;
	background-color: #f04f53;
	border: none;
	border-radius: 30px;
	text-shadow: none;
	color: #fff;
	text-transform: uppercase;
	font-size: 16px;
	padding: 15px 10px;
	width: 247px;
	max-width: 100%;
	margin-top: 10px;
}

.comments_wrap input[type="checkbox"] {
	/*background-image: url('images/unchecked-box.png');*/
	background-repeat: no-repeat;
	border: none;
	width: 23px;
	height: 22px;
	-webkit-appearance: none;
	background-color: #fff;
	background-size: contain;
	margin-right: 18px;
	margin-top: 2px;
}

.comments_wrap input[type="checkbox"]:checked,
.comments_wrap input[type="checkbox"]:hover:checked,
.comments_wrap input[type="checkbox"]:focus:checked {
	background-image: url('images/checked-box.png');
	background-color: transparent;
	border: none;
	outline: none;
}

.comments_wrap input[type="checkbox"]:focus {
	outline: none;
}

.comment-form-options span {
	display: block;
	clear: both;
	overflow: hidden;
}

.comment-form-options input[type="checkbox"] {
	float: left;
}

.content .main .comments_wrap form#commentform .comment-form-options label {
	float: left;
	font-size: 85%;
	width: auto;
}

.content .main .comments_wrap form#commentform .comment-form-subscriptions label {
	font-size: 16px;
}

.content .main .comments_wrap form#commentform p.comment-form-subscriptions {
	margin-top: 20px;
	margin-bottom: 0;
	padding-bottom: 0;
}

.content .main .comments_wrap form#commentform p.comment-form-subscriptions a {
	color: #010101 !important;
}

.comments_wrap .comment-form-subscriptions input[type="checkbox"] {
	margin-top: -8px;
	margin-right: 0;
}

.comment-filter {
	margin-bottom: 30px;
	margin-top: 15px;
	overflow: hidden;
	display: flex;
}

.comment-filter>a {
	border: 1px solid #f04f53;
	display: block;
	float: left;
	font-weight: bold;
	padding: 7px;
	margin: 0 5px;
	text-align: center;
	flex: 1 1 33%;
	text-transform: uppercase;
}
.comment-filter>a:first-child {
	margin-left: 0;
}
.comment-filter>a:last-child {
	margin-right: 0;
}
.content .comment-filter>a.active {
	background-color: #f04f53;
	color: #fff !important;
}

.must-rate-error {
	display: none;
	color: #f04f53;
	font-style: italic;
}

@media only screen and (max-width: 600px) {
	.comment-filter>a {
		width: 100%;
	}
	.comment-filter>a:not(:first-of-type) {
		border-left: 1px solid #f04f53;
	}
}

.content #commentlist ul.children {
	max-width: 100%;
	margin-top: 25px;
}
.content .main .comments_wrap ol#commentlist .children li {
	width: 100%;
}
.content #commentlist .depth-2 ul.children,
.content #commentlist .depth-2 ul.children li {
	border-top: none;
	border-bottom: none;
}

.content #commentlist ul.children li {
	padding-top: 30px;
	padding-bottom: 30px;
	width: 483px;
	max-width: 100%;
	padding-left: 88px;
}

.comments_wrap .comment-form-wprm-rating {
	margin-top: 20px !important;
	display: inline-block;
}

.comments_wrap .comment-form-wprm-rating label {
	font-size: 15px;
	font-family: "Lato", sans-serif;
}
#respond textarea {
	border: none;
}
.comments_wrap .comment-form-wprm-rating .wprm-rating-stars {
	font-size: 24px;
	float: left;
}

.comments_wrap .comment-form-wprm-rating svg {
	width: 27px;
	height: 27px;
}

.comments_wrap .comment-author-tessaaarias1 .comment-body {
	color: #000;
	font-style: italic;
}

.content .main .comments_wrap ol#commentlist a.comment-reply-link {
	font-size: 15px;
	color: #1F1F1F !important;
	text-transform: uppercase;
	text-decoration: underline !important;
}

.content .main .comments_wrap ol#commentlist .commentmeta a[class="url"] {
	color: #e9a59c !important;
}

.content .main .comments_wrap ol#commentlist .comment-form p {
	padding-bottom: 18px;
}

.comment-reply-title.reply-title {
	display: none;
}

.content .main .comments_wrap li h4#respondheading {
	display: none;
}

.comments_wrap li .comment-reply-title.reply-title {
	display: block;
	font-size: 24px;
	margin-top: 30px;
	float: left;
}

.comments_wrap .cancel-comment-reply {
	float: left;
	margin-left: 13px;
	clear: right;
}

.comments_wrap .cancel-comment-reply a {
	display: block;
	margin-top: 30px;
}

.content .main .comments_wrap ol#commentlist a#cancel-comment-reply-link {
	font-size: 18px;
}

.content .main .wpcr3_respond_1 .wpcr3_leave_text {
	display: none;
}

.content .main .wpcr3_respond_1 hr {
	margin: 30px 0;
}

.content .main .wpcr3_respond_1 .wpcr_rname {
	font-size: 15px;
}

.content .main .wpcr3_respond_1 .vcard {
	font-size: 15px !important;
}

.content .main .wpcr3_respond_1 blockquote.description {
	margin: 10px 0 0 0;
}

.content .main .wpcr3_respond_1 blockquote.description p {
	font-size: 15px;
	line-height: 1.3 !important;
}

.content .main .wpcr3_respond_1 p.response {
	margin: 15px 0 0 0 !important;
}

.content .main .wpcr3_respond_1 p.response strong {
	font-weight: 600;
}

.content .main .wpcr3_respond_1 .wpcr3_respond_2 {
	font-size: 15px;
	margin-top: -30px !important;
}

.content .main .wpcr3_respond_1 .wpcr3_respond_2 td {
	padding-bottom: 10px;
}

.content .main .pagination {
	float: left;
	width: 100%;
	margin: 40px 0;
	font-size: 15px;
	text-align: center;
	font-family: "Raleway", sans-serif;
	color: #e9a59c;
}

@media screen and (max-width: 767px) {
	.content .main .pagination {
		margin-bottom: 0;
	}
}

.content .main .pagination a {
	text-decoration: none;
	color: #e9a59c;
}

.content .main .pagination a:hover {
	background: #e9a59c;
	color: #fff;
	transition: 0.5s;
}

.content .main .pagination .page-numbers {
	padding: 3px 8px;
	margin: 0 0 10px 0;
	display: inline-block;
}

.content .main .pagination span.current {
	background: #e9a59c;
	color: #fff;
}

body.home .content .optin {
	float: left;
	width: 100%;
	padding: 0 22px 0 22px;
}

body.home .content .optin .text {
	float: left;
	width: 63%;
}

@media screen and (max-width: 767px) {
	body.home .content .optin .text {
		float: left;
		width: 100%;
	}
}

body.home .content .optin .text img {
	float: left;
	margin: 0 20px 0 0;
}

@media screen and (max-width: 767px) {
	body.home .content .optin .text img {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 420px) {
	body.home .content .optin .text img {
		float: none;
		margin: 0 auto 10px auto;
		display: block;
	}
}

body.home .content .optin .text h3 {
	color: #ff7373;
	text-transform: uppercase;
	font-family: Georgia, Times, "Times New Roman", serif;
	font-size: 25px;
	margin: 40px 0 12px 0;
}

@media screen and (max-width: 767px) {
	body.home .content .optin .text h3 {
		margin-top: 20px;
	}
}

body.home .content .optin .text p {
	font-size: 13px;
	line-height: 1.38;
	font-weight: 300;
	color: #000;
}

body.home .content .optin form {
	float: right;
	width: 35%;
	margin: 40px 0 0 0;
}

@media screen and (max-width: 767px) {
	body.home .content .optin form {
		float: left;
		width: 100%;
		margin-top: 20px;
	}
}

body.home .content .optin form input {
	height: auto;
}

body.home .content .optin form input[type="text"] {
	float: left;
	width: 100%;
	border: 1px solid #6acfeb;
	font-weight: 300;
	color: rgba(108, 107, 102, 0.66);
	font-size: 12px;
	line-height: 32px;
	padding: 0 10px;
	height: 32px;
}

body.home .content .optin form input[type="submit"] {
	border: 0;
	background: 0;
	color: #6acfeb;
	font-family: "steelheartregular", "Raleway", sans-serif;
	font-size: 38px;
	font-weight: normal;
	float: right;
	margin: 12px 0 0 0;
}

body.home .content .optin form li#field_4_5 {
	display: none;
}

body.home .content .main ul.filters {
	float: left;
	width: 100%;
	background: #e9a59c;
	border-right: 6px solid #fff;
	margin: 0 0 30px 0;
	padding: 10px 16px 0 16px;
	text-transform: capitalize;
}

@media screen and (max-width: 360px) {
	body.home .content .main ul.filters {
		text-align: center;
		padding-bottom: 8px;
	}
}

body.home .content .main ul.filters div.all {
	float: left;
	width: 27px;
	margin: 9px 10px 0 0;
	cursor: pointer;
}

@media screen and (max-width: 360px) {
	body.home .content .main ul.filters div.all {
		display: none;
	}
}

body.home .content .main ul.filters div.all div {
	background: #fff;
	height: 3px;
	margin: 0 0 4px 0;
}

body.home .content .main ul.filters div.all div.long {
	width: 100%;
}

body.home .content .main ul.filters div.all div.med {
	width: 66%;
	margin: 4px 17% 4px 17%;
}

body.home .content .main ul.filters div.all div.short {
	width: 33%;
	margin: 0 33.5%;
}

body.home .content .main ul.filters li {
	cursor: pointer;
	color: #fff;
	float: left;
	font-size: 12px;
	padding: 10px 4px;
	font-weight: 500;
	list-style: none;
	margin: 0;
}

@media screen and (max-width: 360px) {
	body.home .content .main ul.filters li {
		float: none;
	}
}

body.home .content .main ul.filters li:after {
	content: "|";
	float: right;
	padding: 0 0 0 8px;
}

@media screen and (max-width: 360px) {
	body.home .content .main ul.filters li:after {
		display: none;
	}
}

body.home .content .main ul.filters li:last-of-type:after {
	display: none;
}

body.home .content .main ul.filters li a {
	color: #fff;
	text-decoration: none;
}

body.home .content .main ul.filters li a:after {
	content: '\f0d7';
	font-family: FontAwesome;
	float: left;
	margin: 13px 0 0 0;
	left: 50%;
	position: relative;
	margin-left: -9px;
	font-size: 14px;
	color: #e9a59c;
}

@media screen and (max-width: 360px) {
	body.home .content .main ul.filters li a:after {
		margin-left: 0;
	}
}

body.home .content .main ul.filters li a.active:after {
	color: #fff;
}

@media screen and (max-width: 660px) {
	body.single .content {
		padding-top: 0;
	}
}

@media screen and (max-width: 350px) {
	body.single .content {
		margin-top: 70px;
	}
}

.single .recipe-intro-star-rating {
	float: right;
	margin-bottom: 10px;
	width: 47%;
}

.single .recipe-intro-star-rating .wprm-recipe-rating {
	text-align: left;
	float: left;
	margin-right: 10px;
}

.wprm-recipe-container .wprm-whole-recipe {
	overflow: visible;
}

.wprm-recipe-container .wprm-recipe-rating {
	position: relative;
}

.wprm-recipe-container .wprm-recipe-rating:hover {
	cursor: pointer;
}

.single .wprm-recipe-container .wprm-recipe-rating:before {
	background-image: url('images/i-made-this.png');
	background-size: contain;
	background-repeat: no-repeat;
	content: ' ';
	display: block;
	position: absolute;
	width: 122px;
	height: 56px;
	right: -16px;
	top: -58px;
}

.recipe-intro-star-rating .wprm-rating-star svg polygon {
	stroke: #f04f53;
}

.recipe-intro-star-rating .wprm-recipe-rating .wprm-rating-star.wprm-rating-star-full svg * {
	fill: #f04f53;
}

.recipe-intro-star-rating.mobile,
body.single .content .key_info .author_wrap.mobile {
	display: none;
}

@media only screen and (max-width: 940px) {
	.summary.desktop,
	.recipe-intro-star-rating.desktop {
		display: none;
	}
	.recipe-intro-star-rating.mobile {
		display: block;
		margin-top: 15px;
		margin-bottom: 0;
		width: 100%;
	}
	body.single .content .key_info .author_wrap.mobile {
		display: block;
		margin-top: 20px;
		padding-bottom: 15px;
	}
	.single .recipe-intro-star-rating .wprm-recipe-rating {
		text-align: center;
	}
}

body.single .content .key_info .prep,
body.single .content .main .prep,
.preview_grid .prep {
	background: #96ddcb;
	padding: 12px 14px;
}

@media print {
	body.single .content .key_info .prep,
	body.single .content .main .prep,
	.preview_grid .prep {
		background: none;
	}
}

body.single .content .key_info .prep p,
body.single .content .main .prep p,
.preview_grid .prep p {
	color: #fff;
	font-size: 15px;
	line-height: 1.6;
	padding: 0 0 0 0;
}

@media print {
	body.single .content .key_info .prep p,
	body.single .content .main .prep p,
	.preview_grid .prep p {
		color: #010101;
	}
}

body.single .content .key_info .prep p.half,
body.single .content .main .prep p.half,
.preview_grid .prep p.half {
	float: left;
	width: 45%;
	padding: 0 2% 0 0;
}

@media print {
	body.single .content .key_info .prep p.half,
	body.single .content .main .prep p.half,
	.preview_grid .prep p.half {
		float: left;
		width: 100%;
	}
}

@media screen and (max-width: 660px) {
	body.single .content .key_info .prep p.half,
	body.single .content .main .prep p.half,
	.preview_grid .prep p.half {
		padding: 2px 0 4px 0;
	}
}

body.single .content .key_info .prep p i,
body.single .content .main .prep p i,
.preview_grid .prep p i {
	margin: 0 8px 0 0;
}

body.single .content .key_info,
.preview_grid {
	float: left;
	width: 100%;
	position: relative;
}

body.single .content .key_info .featured,
.preview_grid .featured {
	float: left;
	width: 35%;
}

@media print {
	body.single .content .key_info .featured,
	.preview_grid .featured {
		margin-bottom: 20px;
	}
}

@media screen and (max-width: 1050px) {
	body.single .content .key_info .featured,
	.preview_grid .featured {
		margin: 20px 0 0 0;
	}
}

@media screen and (max-width: 660px) {
	body.single .content .key_info .featured,
	.preview_grid .featured {
		float: left;
		width: 100%;
	}
}

body.single .content .key_info .featured img,
.preview_grid .featured img {
	float: left;
	width: 100%;
}

@media print {
	body.single .content .key_info .featured img,
	.preview_grid .featured img {
		width: 75%;
	}
}

body.single .content .key_info .title,
.preview_grid .title {
	float: right;
	width: 62%;
}

@media print {
	body.single .content .key_info .title,
	.preview_grid .title {
		float: left;
		width: 100%;
	}
}

@media screen and (max-width: 1050px) {
	body.single .content .key_info .title,
	.preview_grid .title {
		float: left;
		width: 100%;
	}
}

body.single .content .key_info .title h1,
.preview_grid .title h1 {
	font-size: 60px;
	font-family: "steelheartregular", "Raleway", sans-serif;
	color: #e9a59c;
	line-height: 0.9;
	margin-top: 5px;
	margin-bottom: 15px;
}

@media screen and (max-width: 660px) {
	body.single .content .key_info .title h1,
	.preview_grid .title h1 {
		text-align: center;
		margin-bottom: 0;
	}
}


@media print {
	body.single .content .key_info .title .share,
	.preview_grid .title .share {
		display: none;
	}
}


body.single .content .key_info .title .share .fa-stack i.fa-comment,
.preview_grid .title .share .fa-stack i.fa-comment {
	color: #96ddcb;
}

body.single .content .key_info .title .share .fa-stack a,
.preview_grid .title .share .fa-stack a {
	color: #fff;
	text-decoration: none;
}

body.single .content .key_info .title .share i.fa,
.preview_grid .title .share i.fa {
	color: #fff;
}


body.single .content .key_info .title .share i.fa.gold,
.preview_grid .title .share i.fa.gold {
	color: #e5c100;
}

/* Share Buttons Styling */
/* Added by Shakey G Applications */
/* 11/13/2020 */

.key_info .share{
	clear: both;
}

.key_info .share, .wprm-entry-header .share {
	display: grid;
	grid-template-columns: repeat(11, 1fr);
}

.key_info .dpsp-shortcode-wrapper, .wprm-entry-header .dpsp-shortcode-wrapper{
	grid-column-start: 5;
	grid-column-end: span 2;
}

@media only screen and (max-device-width: 600px){
    .key_info .share, .wprm-entry-header .share {
		display: grid;
		grid-template-columns: auto repeat(5, 1fr) auto;
	}

	.key_info .dpsp-shortcode-wrapper, .wprm-entry-header .dpsp-shortcode-wrapper{
		grid-column-start: 3;
		grid-column-end: span 2;
	}
}
.key_info ul.dpsp-networks-btns-wrapper, .wprm-entry-header ul.dpsp-networks-btns-wrapper {
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.dpsp-shortcode-wrapper, .key_info ul.dpsp-networks-btns-wrapper li, .wprm-entry-header ul.dpsp-networks-btns-wrapper li{
	margin: 0 !important;
}

.key_info ul.dpsp-networks-btns-wrapper li:first-of-type, .wprm-entry-header ul.dpsp-networks-btns-wrapper li:first-of-type{
	justify-self: end;
}

.key_info ul.dpsp-networks-btns-wrapper li:last-of-type, .wprm-entry-header ul.dpsp-networks-btns-wrapper li:last-of-type{
	justify-self: center;
}

.share-print-button-wrapper{
	display: flex;
	align-self: flex-end;
}

.share-print-button{
    height: 32px;
    width: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #f04f53;
    border-radius: 30px;
}

.share-print-button i{
	color: #fff;
}

.dpsp-network-icon-inner svg path{
	fill: #fff !important;
}


body.single .content .key_info .prep,
.preview_grid .prep {
	float: right;
	width: 62%;
	margin: 20px 0;
}

@media print {
	body.single .content .key_info .prep,
	.preview_grid .prep {
		float: left;
		width: 100%;
		margin: 0;
	}
}

@media screen and (max-width: 750px) {
	body.single .content .key_info .prep,
	.preview_grid .prep {
		margin-bottom: 10px;
	}
}

@media screen and (max-width: 660px) {
	body.single .content .key_info .prep,
	.preview_grid .prep {
		float: left;
		width: 100%;
	}
}

@media screen and (max-width: 1050px) {
	body.single .content .key_info .prep p,
	.preview_grid .prep p {
		padding: 2px 0 4px 0;
	}
}

@media screen and (max-width: 1050px) {
	body.single .content .key_info .prep p.half,
	.preview_grid .prep p.half {
		float: left;
		width: 100%;
		padding: 2px 0 4px 0;
	}
}

body.single .content .key_info .author_wrap,
.preview_grid .author_wrap {
	float: right;
	width: 62%;
	margin: 10px 0 0 0;
	display: table;
}

@media print {
	body.single .content .key_info .author_wrap,
	.preview_grid .author_wrap {
		float: left;
		width: 100%;
	}
}

@media screen and (max-width: 660px) {
	body.single .content .key_info .author_wrap,
	.preview_grid .author_wrap {
		float: left;
		width: 100%;
	}
}

body.single .content .key_info .author_wrap .avatar,
.preview_grid .author_wrap .avatar {
	width: 106px;
	display: table-cell;
	vertical-align: middle;
}

body.single .content .key_info .author_wrap .avatar img,
.preview_grid .author_wrap .avatar img {
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	width: 96px;
	height: 96px;
	float: left;
}

body.single .content .key_info .author_wrap .author,
.preview_grid .author_wrap .author {
	display: none;
}

body.single .content .key_info .author_wrap span.summary,
.preview_grid .author_wrap span.summary {
	display: table-cell;
	vertical-align: middle;
}

body.single .content .key_info .author_wrap span.summary p,
.preview_grid .author_wrap span.summary p {
	color: #010101;
	font-size: 14px;
	line-height: 1.2;
	padding: 0;
}

body.single .content .key_info .author_wrap .recipe_jump a,
.preview_grid .author_wrap .recipe_jump a {
	text-decoration: none;
	border-radius: 6px;
	background: #e9a59c;
	color: #fff !important;
	padding: 8px 16px 8px 14px;
	float: left;
	margin: 0 10px 0 0;
}

@media print {
	body.single .content .key_info .author_wrap .recipe_jump a,
	.preview_grid .author_wrap .recipe_jump a {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	body.single .content .key_info .author_wrap .recipe_jump a span,
	.preview_grid .author_wrap .recipe_jump a span {
		display: none;
	}
}

body.single .content .key_info .author_wrap .recipe_qprint a,
.preview_grid .author_wrap .recipe_qprint a {
	text-decoration: none;
	border-radius: 6px;
	background: #e9a59c;
	color: #fff;
	padding: 0 14px;
	float: left;
	font-size: 20px;
	line-height: 35px;
}

@media print {
	body.single .content .key_info .author_wrap .recipe_qprint a,
	.preview_grid .author_wrap .recipe_qprint a {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	body.single .content .key_info .author_wrap .recipe_qprint a span,
	.preview_grid .author_wrap .recipe_qprint a span {
		display: none;
	}
}

body.single .content .key_info .pinterest_img,
.preview_grid .pinterest_img {
	display: none;
}

body.single .content .tabs_wrap {
	float: left;
	width: 100%;
	margin-bottom: 10px;
}

body.single .content .main,
.preview_grid {
	margin: 30px 0 0 0;
	color: #010101;
}

@media print {
	body.single .content .main,
	.preview_grid {
		float: left;
		width: 100%;
		margin: 0;
	}
}

body.single .content .main ul.r-tabs-nav,
.preview_grid ul.r-tabs-nav {
	border-bottom: 5px solid #96ddcb;
	padding: 0;
}

@media print {
	body.single .content .main ul.r-tabs-nav,
	.preview_grid ul.r-tabs-nav {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	body.single .content .main ul.r-tabs-nav,
	.preview_grid ul.r-tabs-nav {
		display: none;
	}
}

body.single .content .main ul.r-tabs-nav li.r-tabs-tab,
.preview_grid ul.r-tabs-nav li.r-tabs-tab {
	background: #e3e3e3;
	text-transform: uppercase;
	border-right: 10px solid #fff;
	font-size: 15px;
	padding: 8px 10px 6px 10px;
	margin: 10px 0 0 0;
	list-style: none;
	display: inline-block;
}

body.single .content .main ul.r-tabs-nav li.r-tabs-tab.r-tabs-state-active,
.preview_grid ul.r-tabs-nav li.r-tabs-tab.r-tabs-state-active {
	background: #96ddcb;
}

body.single .content .main ul.r-tabs-nav li.r-tabs-tab.r-tabs-state-active a,
.preview_grid ul.r-tabs-nav li.r-tabs-tab.r-tabs-state-active a {
	color: #fff;
}

body.single .content .main ul.r-tabs-nav li.r-tabs-tab a,
.preview_grid ul.r-tabs-nav li.r-tabs-tab a {
	color: #2e2e2e;
	text-decoration: none;
}

body.single .content .main .r-tabs-panel,
.preview_grid .r-tabs-panel {
	display: none;
	padding: 25px 15px;
	float: left;
	width: 100%;
}

@media print {
	body.single .content .main .r-tabs-panel,
	.preview_grid .r-tabs-panel {
		display: block !important;
		padding: 0;
	}
}

@media screen and (max-width: 420px) {
	body.single .content .main .r-tabs-panel,
	.preview_grid .r-tabs-panel {
		padding-right: 0;
		padding-left: 0;
	}
}

body.single .content .main .r-tabs-panel.r-tabs-state-active,
.preview_grid .r-tabs-panel.r-tabs-state-active {
	display: block;
}

body.single .content .main .r-tabs-panel li,
.preview_grid .r-tabs-panel li {
	font-size: 15px;
	line-height: 1.3;
}

body.single .content .main .r-tabs-accordion-title,
.preview_grid .r-tabs-accordion-title {
	display: none;
	float: left;
	width: 100%;
	background: #96ddcb;
	padding: 12px 20px;
	color: #fff;
	font-size: 15px;
	line-height: 1.6;
	font-weight: 600;
	margin: 0 0 10px 0;
}

body.single .content .main .r-tabs-accordion-title:before,
.preview_grid .r-tabs-accordion-title:before {
	font-family: FontAwesome;
	font-weight: normal;
	font-style: normal;
	text-decoration: inherit;
	content: "\f0da";
	float: left;
	margin: 0 12px;
	width: 11px;
	text-align: center;
}

body.single .content .main .r-tabs-accordion-title.r-tabs-state-active:before,
.preview_grid .r-tabs-accordion-title.r-tabs-state-active:before {
	content: "\f0d7";
}

body.single .content .main .r-tabs-accordion-title a,
.preview_grid .r-tabs-accordion-title a {
	float: left;
	width: 80%;
	text-decoration: none;
	color: #fff;
}

@media screen and (max-width: 767px) {
	body.single .content .main .r-tabs-accordion-title,
	.preview_grid .r-tabs-accordion-title {
		display: block;
	}
}

body.single .content .main .recipe_intro,
.preview_grid .recipe_intro {
	float: left;
	width: 100%;
}

@media print {
	body.single .content .main .recipe_intro,
	.preview_grid .recipe_intro {
		display: none;
	}
}

@media print {
	body.single .content .main .recipe_intro.print_friendly,
	.preview_grid .recipe_intro.print_friendly {
		display: block;
	}
	body.single .content .main .recipe_intro.print_friendly img,
	body.single .content .main .recipe_intro.print_friendly iframe,
	body.single .content .main .recipe_intro.print_friendly .related,
	.preview_grid .recipe_intro.print_friendly img,
	.preview_grid .recipe_intro.print_friendly iframe,
	.preview_grid .recipe_intro.print_friendly .related {
		display: none;
	}
}

body.single .content .main .rundown,
.preview_grid .rundown {
	float: left;
	width: 100%;
	border-left: 12px solid #e9a59c;
	padding: 0 0 0 20px;
	margin: 10px 0 30px 0;
}

@media print {
	body.single .content .main .rundown,
	.preview_grid .rundown {
		display: none;
	}
}

body.single .content .main .rundown h3,
.preview_grid .rundown h3 {
	font-size: 15px;
	text-transform: uppercase;
	margin: 0 0 16px 0;
}

body.single .content .main .rundown p,
.preview_grid .rundown p {
	padding: 0 0 0 0;
}

body.single .content .main .rundown p strong,
.preview_grid .rundown p strong {
	font-weight: 600;
}

body.single .content .main h2.how,
.preview_grid h2.how {
	float: left;
	width: 100%;
	font-size: 54px;
	margin-bottom: 0;
	margin-top: 30px;
}

@media print {
	body.single .content .main h2.how,
	.preview_grid h2.how {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	body.single .content .main h2.how,
	.preview_grid h2.how {
		margin-top: 10px;
	}
}

body.single .content .main h2.how span.how,
.preview_grid h2.how span.how {
	font-family: "Raleway", sans-serif;
	color: #000;
	font-size: 17px;
	text-transform: uppercase;
	float: left;
	margin: 20px 18px 0 0;
}

body.single .content .main .prep,
.preview_grid .prep {
	float: left;
	width: 100%;
	margin: 10px 0 20px 0;
}

@media print {
	body.single .content .main .prep,
	.preview_grid .prep {
		display: none;
	}
}

body.single .content .main .prep p,
.preview_grid .prep p {
	padding: 2px 0 4px 0;
}

@media screen and (max-width: 767px) {
	body.single .content .main .prep p.half,
	.preview_grid .prep p.half {
		float: left;
		width: 100%;
	}
}

body.single .content .main .ingredients h3.title,
body.single .content .main .directions h3.title,
.preview_grid .ingredients h3.title,
.preview_grid .directions h3.title {
	font-size: 15px;
	margin-bottom: 10px;
	color: #73d2ba;
}

body.single .content .main .ingredients h4,
body.single .content .main .directions h4,
.preview_grid .ingredients h4,
.preview_grid .directions h4 {
	margin: 0 0 10px 0;
	font-size: 15px;
}

body.single .content .main .ingredients .share,
body.single .content .main .directions .share,
.preview_grid .ingredients .share,
.preview_grid .directions .share {
	float: right;
	margin: 6px 6px;
}

@media print {
	body.single .content .main .ingredients .share,
	body.single .content .main .directions .share,
	.preview_grid .ingredients .share,
	.preview_grid .directions .share {
		display: none;
	}
}

@media screen and (max-width: 420px) {
	body.single .content .main .ingredients .share,
	body.single .content .main .directions .share,
	.preview_grid .ingredients .share,
	.preview_grid .directions .share {
		float: none;
		display: block;
		margin: 24px auto 20px auto;
	}
}

body.single .content .main .ingredients .share a,
body.single .content .main .directions .share a,
.preview_grid .ingredients .share a,
.preview_grid .directions .share a {
	text-decoration: none;
}

body.single .content .main .ingredients .share .pinit,
body.single .content .main .directions .share .pinit,
.preview_grid .ingredients .share .pinit,
.preview_grid .directions .share .pinit {
	display: inline-block;
	vertical-align: bottom;
	cursor: pointer;
}

body.single .content .main .ingredients .share .fa-stack,
body.single .content .main .directions .share .fa-stack,
.preview_grid .ingredients .share .fa-stack,
.preview_grid .directions .share .fa-stack {
	margin-top: -2px;
}

body.single .content .main .ingredients .share .fa-stack i.fa-comment,
body.single .content .main .directions .share .fa-stack i.fa-comment,
.preview_grid .ingredients .share .fa-stack i.fa-comment,
.preview_grid .directions .share .fa-stack i.fa-comment {
	color: #96ddcb;
}

body.single .content .main .ingredients .share .fa-stack a,
body.single .content .main .directions .share .fa-stack a,
.preview_grid .ingredients .share .fa-stack a,
.preview_grid .directions .share .fa-stack a {
	color: #fff;
	text-decoration: none;
}

body.single .content .main .ingredients .share i.fa,
body.single .content .main .directions .share i.fa,
.preview_grid .ingredients .share i.fa,
.preview_grid .directions .share i.fa {
	color: #fff;
}

body.single .content .main .ingredients .share i.fa.circle,
body.single .content .main .directions .share i.fa.circle,
.preview_grid .ingredients .share i.fa.circle,
.preview_grid .directions .share i.fa.circle {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #96ddcb;
}

body.single .content .main .ingredients .share i.fa.gold,
body.single .content .main .directions .share i.fa.gold,
.preview_grid .ingredients .share i.fa.gold,
.preview_grid .directions .share i.fa.gold {
	color: #e5c100;
}

body.single .content .main .author_social,
.preview_grid .author_social {
	float: left;
	width: 100%;
	margin: 0 0 10px 0;
}

@media print {
	body.single .content .main .author_social,
	.preview_grid .author_social {
		display: none;
	}
}

body.single .content .main .author_social img,
.preview_grid .author_social img {
	border-radius: 50%;
	width: 96px;
	height: 96px;
	float: left;
	margin: 0 20px 10px 0;
}

body.single .content .main .author_social h4,
.preview_grid .author_social h4 {
	font-family: "steelheartregular", "Raleway", sans-serif;
	font-size: 45px;
	text-align: left;
	margin-bottom: 10px;
}

body.single .content .main .author_social i.fa,
.preview_grid .author_social i.fa {
	color: #fff;
}

body.single .content .main .author_social i.fa.circle,
.preview_grid .author_social i.fa.circle {
	display: inline-block;
	width: 24px;
	height: 24px;
	line-height: 24px;
	font-size: 14px;
	vertical-align: middle;
	text-align: center;
	-webkit-border-radius: 50%;
	-moz-border-radius: 50%;
	-ms-border-radius: 50%;
	-o-border-radius: 50%;
	border-radius: 50%;
	background: #96ddcb;
	margin-top: 2px;
}

body.single .content .main .related,
.preview_grid .related {
	float: left;
	width: 100%;
	margin: 0 0 40px 0;
}

@media print {
	body.single .content .main .related,
	.preview_grid .related {
		display: none;
	}
}

@media screen and (max-width: 767px) {
	body.single .content .main .related,
	.preview_grid .related {
		margin: 0 0 10px 0;
	}
}

body.single .content .main .related h4,
.preview_grid .related h4 {
	font-family: "steelheartregular", "Raleway", sans-serif;
	font-size: 45px;
	text-align: center;
}

body.single .content .main .related ul.related_list,
.preview_grid .related ul.related_list {
	margin: 0;
	padding: 0;
}

body.single .content .main .related ul.related_list li,
.preview_grid .related ul.related_list li {
	list-style: none;
	padding: 0 20px;
	margin: 0;
	width: 33.333333%;
	float: left;
	text-align: center;
}

@media screen and (max-width: 380px) {
	body.single .content .main .related ul.related_list li,
	.preview_grid .related ul.related_list li {
		float: left;
		width: 100%;
		padding: 0;
		margin: 0 0 24px 0;
	}
}

body.single .content .main .related ul.related_list li img,
.preview_grid .related ul.related_list li img {
	float: left;
	width: 100%;
	margin: 0 0 12px 0;
}

body.single .content .main .related ul.related_list li a.link,
.preview_grid .related ul.related_list li a.link {
	color: #96ddcb;
	text-decoration: none;
}

body.single .content .main .news_signup,
.preview_grid .news_signup {
	float: left;
	width: 100%;
	background: #e9a59c;
	padding: 20px 20px;
	margin-bottom: 30px;
}

@media print {
	body.single .content .main .news_signup,
	.preview_grid .news_signup {
		display: none;
	}
}

body.single .content .main .news_signup h3,
.preview_grid .news_signup h3 {
	color: #fff;
}

body.single .content .main .news_signup p,
.preview_grid .news_signup p {
	color: #fff;
}

body.single .content .main .news_signup form,
.preview_grid .news_signup form {
	float: left;
	width: 300px;
}

@media screen and (max-width: 767px) {
	body.single .content .main .news_signup form,
	.preview_grid .news_signup form {
		width: 100%;
		padding: 0 10px;
	}
}

body.single .content .main .news_signup form input,
.preview_grid .news_signup form input {
	border: 0;
}

body.single .content .main .news_signup form input[type="submit"],
.preview_grid .news_signup form input[type="submit"] {
	float: right;
	margin-top: -12px;
}

body.single .content .main .news_signup img,
.preview_grid .news_signup img {
	float: left;
	margin: 0 20px 10px 0;
}

@media screen and (max-width: 420px) {
	body.single .content .main .news_signup img,
	.preview_grid .news_signup img {
		float: none;
		margin: 0 auto 10px auto;
		display: block;
	}
}

body.single .content .main .copyright,
.preview_grid .copyright {
	float: left;
	width: 100%;
	margin: 30px 0 0 0;
}

@media print {
	body.single .content .main .copyright,
	.preview_grid .copyright {
		display: none;
	}
}

body.blog .main h2.title,
body.index .main h2.title,
body.archive .main h2.title,
body.single-blog .main h2.title,
body.page-template-page-blog .main h2.title {
	margin-bottom: 0;
}

body.blog .main #search-filter-form-9207,
body.index .main #search-filter-form-9207,
body.archive .main #search-filter-form-9207,
body.single-blog .main #search-filter-form-9207,
body.page-template-page-blog .main #search-filter-form-9207 {
	border-bottom: 1px solid #ddd;
	padding: 10px 0 30px 0;
	margin: 0 0 30px 0;
	float: left;
	width: 100%;
}

body.blog .main #search-filter-form-9207 ul,
body.blog .main #search-filter-form-9207 li,
body.index .main #search-filter-form-9207 ul,
body.index .main #search-filter-form-9207 li,
body.archive .main #search-filter-form-9207 ul,
body.archive .main #search-filter-form-9207 li,
body.single-blog .main #search-filter-form-9207 ul,
body.single-blog .main #search-filter-form-9207 li,
body.page-template-page-blog .main #search-filter-form-9207 ul,
body.page-template-page-blog .main #search-filter-form-9207 li {
	list-style: none;
	margin: 0;
	padding: 0;
}

body.blog .main #search-filter-form-9207 li,
body.index .main #search-filter-form-9207 li,
body.archive .main #search-filter-form-9207 li,
body.single-blog .main #search-filter-form-9207 li,
body.page-template-page-blog .main #search-filter-form-9207 li {
	margin: 8px 0 0 0;
}

body.blog .main #search-filter-form-9207 li label,
body.index .main #search-filter-form-9207 li label,
body.archive .main #search-filter-form-9207 li label,
body.single-blog .main #search-filter-form-9207 li label,
body.page-template-page-blog .main #search-filter-form-9207 li label {
	float: left;
	margin: 0 20px 0 0;
}

body.blog .main #search-filter-form-9207 li ul,
body.index .main #search-filter-form-9207 li ul,
body.archive .main #search-filter-form-9207 li ul,
body.single-blog .main #search-filter-form-9207 li ul,
body.page-template-page-blog .main #search-filter-form-9207 li ul {
	margin-top: 8px;
	float: left;
	width: 100%;
}

body.blog .main #search-filter-form-9207 h4,
body.index .main #search-filter-form-9207 h4,
body.archive .main #search-filter-form-9207 h4,
body.single-blog .main #search-filter-form-9207 h4,
body.page-template-page-blog .main #search-filter-form-9207 h4 {
	margin: 0;
	padding: 0;
}

body.blog .main #search-filter-form-9207 input[type=radio],
body.index .main #search-filter-form-9207 input[type=radio],
body.archive .main #search-filter-form-9207 input[type=radio],
body.single-blog .main #search-filter-form-9207 input[type=radio],
body.page-template-page-blog .main #search-filter-form-9207 input[type=radio] {
	margin: 0 4px 0 0;
	vertical-align: middle;
}

body.blog .main article,
body.index .main article,
body.archive .main article,
body.single-blog .main article,
body.page-template-page-blog .main article {
	float: left;
	width: 100%;
	border-bottom: 1px solid #ddd;
	padding: 10px 0 24px 0;
	margin: 0 0 24px 0;
}

body.blog .main article img,
body.index .main article img,
body.archive .main article img,
body.single-blog .main article img,
body.page-template-page-blog .main article img {
	float: left;
	margin: 0 20px 10px 0;
}

@media screen and (max-width: 380px) {
	body.blog .main article img,
	body.index .main article img,
	body.archive .main article img,
	body.single-blog .main article img,
	body.page-template-page-blog .main article img {
		float: none;
		margin: 10px auto 20px auto;
		display: block;
	}
}

body.blog .main article span.fa-stack,
body.index .main article span.fa-stack,
body.archive .main article span.fa-stack,
body.single-blog .main article span.fa-stack,
body.page-template-page-blog .main article span.fa-stack {
	float: right;
	margin-top: -8px;
	display: none;
}

body.blog .main article span.fa-stack i.fa-comment,
body.index .main article span.fa-stack i.fa-comment,
body.archive .main article span.fa-stack i.fa-comment,
body.single-blog .main article span.fa-stack i.fa-comment,
body.page-template-page-blog .main article span.fa-stack i.fa-comment {
	color: #96ddcb;
}

body.blog .main article span.fa-stack a,
body.index .main article span.fa-stack a,
body.archive .main article span.fa-stack a,
body.single-blog .main article span.fa-stack a,
body.page-template-page-blog .main article span.fa-stack a {
	color: #fff;
	text-decoration: none;
}

body.blog .main article h2,
body.index .main article h2,
body.archive .main article h2,
body.single-blog .main article h2,
body.page-template-page-blog .main article h2 {
	font-size: 26px;
	font-family: "Raleway", sans-serif;
	margin: 0 0 15px 0;
}

body.blog .main article h2 a,
body.index .main article h2 a,
body.archive .main article h2 a,
body.single-blog .main article h2 a,
body.page-template-page-blog .main article h2 a {
	text-decoration: none;
}

body.blog .main article p,
body.blog .main article li,
body.index .main article p,
body.index .main article li,
body.archive .main article p,
body.archive .main article li,
body.single-blog .main article p,
body.single-blog .main article li,
body.page-template-page-blog .main article p,
body.page-template-page-blog .main article li {
	font-size: 15px;
	line-height: 1.3;
}

body.blog .main article p.postmetadata,
body.blog .main article li.postmetadata,
body.index .main article p.postmetadata,
body.index .main article li.postmetadata,
body.archive .main article p.postmetadata,
body.archive .main article li.postmetadata,
body.single-blog .main article p.postmetadata,
body.single-blog .main article li.postmetadata,
body.page-template-page-blog .main article p.postmetadata,
body.page-template-page-blog .main article li.postmetadata {
	padding-bottom: 10px;
	display: none;
}

body.blog .main article p.postmetadata strong,
body.blog .main article li.postmetadata strong,
body.index .main article p.postmetadata strong,
body.index .main article li.postmetadata strong,
body.archive .main article p.postmetadata strong,
body.archive .main article li.postmetadata strong,
body.single-blog .main article p.postmetadata strong,
body.single-blog .main article li.postmetadata strong,
body.page-template-page-blog .main article p.postmetadata strong,
body.page-template-page-blog .main article li.postmetadata strong {
	font-weight: 600;
}

body.blog .main article p.postmetadata a,
body.blog .main article li.postmetadata a,
body.index .main article p.postmetadata a,
body.index .main article li.postmetadata a,
body.archive .main article p.postmetadata a,
body.archive .main article li.postmetadata a,
body.single-blog .main article p.postmetadata a,
body.single-blog .main article li.postmetadata a,
body.page-template-page-blog .main article p.postmetadata a,
body.page-template-page-blog .main article li.postmetadata a {
	color: #73d2ba;
}

body.page-template-page-faves .content .main #recipe_grid .mix {
	display: block;
}

body.page-template-page-faves .content .main .fave_nav {
	float: left;
	width: 100%;
	margin: 20px 0 0 0;
}

body.page-template-page-login .content .main .login-msg {
	color: red;
}

body.page-template-page-login .content .main p.login-username label,
body.page-template-page-login .content .main p.login-password label {
	display: block;
	margin: 0 0 5px 0;
}

body.page-template-page-login .content .main p.login-remember input {
	margin: -2px 4px 0 0;
}

body.page-id-8644 .content .main li#field_1_5,
body.page-id-8644 .content .main li#field_3_5,
body.page-id-477 .content .main li#field_1_5,
body.page-id-477 .content .main li#field_3_5 {
	border: 1px solid #96ddcb;
	font-size: 13px;
	padding: 16px 15px 12px;
	margin-bottom: 0;
}

body.page-id-8644 .content .main li#field_1_5 .gfield_description,
body.page-id-8644 .content .main li#field_3_5 .gfield_description,
body.page-id-477 .content .main li#field_1_5 .gfield_description,
body.page-id-477 .content .main li#field_3_5 .gfield_description {
	font-weight: 600;
	margin-bottom: 10px;
}

body.page-id-8644 .content .main li#field_1_5 li,
body.page-id-8644 .content .main li#field_3_5 li,
body.page-id-477 .content .main li#field_1_5 li,
body.page-id-477 .content .main li#field_3_5 li {
	margin-bottom: 6px;
	font-size: 13px;
}

body.page-template-page-login .content .main #adthrive_ad_widget-25,
body.page-template-page-login .content .main #adthrive_ad_widget-25 {
	display: none !important;
}


/* nov 16 */

.tagline {
	bottom: -2px;
	color: #000000;
	font-size: 12px;
	position: absolute;
	right: -180px;
	width: 245px;
}

.as-seen {
	background: #96ddcb none repeat scroll 0 0;
	color: #fff;
	overflow: hidden;
	padding: 6px 0;
	text-align: center;
}

.as-seen>img {
	vertical-align: bottom;
}

.as-seen>span {
	display: inline;
	line-height: 30px;
	vertical-align: top;
}

@media screen and (max-width: 850px) {
	.tagline {
		font-size: 15px;
		position: absolute;
		right: 5px;
		text-align: right;
		top: 18px;
		width: 180px;
	}
	.as-seen>span {
		font-size: 12px;
		line-height: 14px;
	}
}

.tessa-avatar {
	float: left;
	max-width: 75px;
	height: auto;
	border-radius: 100px;
	margin: 0 10px 10px 0;
}

.tessa-bio {
	font-size: 11px;
	margin: 0 0 24px;
}
#sprinkle {
	padding-top: 60px;
}
.wpfp-span {
	float: left;
	margin: 10px;
}

.wpfp-link .fa.fa-star.circle {
	color: #e9a59c;
}

.single-post .wpfp-span {
	background: #e9a59c none repeat scroll 0 0;
	border-radius: 6px;
	color: #fff;
	float: left;
	margin: 0 10px 0 0;
	padding: 8px 16px 8px 14px;
	text-decoration: none;
}

.single-post .wpfp-link {
	color: #fff !important;
	text-decoration: none;
}

.single-post .wpfp-span i {
	color: #fff !important;
}

.single-post .wpfp-link i {
	margin: 0 6px 0 0;
}

.interact .favorite_this {
	display: none;
}

.interact .wpfp-span {
	float: left;
	margin: 0 5px 0 0;
}

.key_info i a {
	font-family: raleway;
	font-weight: bold;
	font-size: 14px;
	line-height: 9px;
}

@media screen and (max-width: 850px) {
	.single-post .wpfp-span {
		margin: 0 5px 0 0;
		padding: 3px 8px 5px;
	}
	.single-post .wpfp-link {
		font-size: 12px;
	}
	body.single .content .key_info .author_wrap .recipe_jump a,
	.preview_grid .author_wrap .recipe_jump a {
		background: #e9a59c none repeat scroll 0 0;
		border-radius: 6px;
		color: #fff;
		float: left;
		margin: 0 4px 0 0;
		padding: 6px 8px 7px 6px;
		text-decoration: none;
		/*   font-size: 12px; */
	}
	body.single .content .key_info .author_wrap .recipe_qprint a,
	.preview_grid .author_wrap .recipe_qprint a {
		background: #e9a59c none repeat scroll 0 0;
		border-radius: 6px;
		color: #fff;
		float: left;
		line-height: 28px;
		padding: 2px 9px;
		text-decoration: none;
	}
}

.recipe_search form ul li,
.recipe_search form.searchandfilter ul li {
	float: left;
	font-size: 12px;
	list-style: outside none none;
	margin: 0 12px 0 0 !important;
	padding: 2px 0;
	width: auto;
	display: inline;
}

.searchandfilter h4 {
	color: #000 !important;
	font-size: 18px !important;
	margin: 0 !important;
}

@media screen and (max-width: 767px) {
	.desktopbar {
		display: none !important;
	}
}

@media screen and (min-width: 767px) {
	.mobilebar {
		display: none !important;
	}
}

@media screen and (max-width: 767px) {
	.wpnb-bar-button {
		display: none !important;
	}
}

a.button {
	font-family: lato;
	font-size: 14px;
	text-decoration: none;
	background: #000000;
	color: #ffffff !important;
	padding: 2px 6px 2px 6px;
	border-top: 1px solid #000000;
	border-right: 1px solid #000000;
	border-bottom: 1px solid #000000;
	border-left: 1px solid #000000;
	text-shadow: none !important
}

li.widget{
	list-style: none;
}

/***********************************************************************************/
/* Muletown CSS Custom Additions */
/***********************************************************************************/

.shopify-button.shopify-button--center .shopify-buy__layout-vertical{
	margin-left: auto;
	margin-right: auto;
}
/*HOME PAGE SEASONAL RECIPES 2*/
.seasonal-recipes{
	background-color:#faeded;
	padding: 30px 0px;
	margin-top:30px;
}
.seasonal-recipes hr{
	width: 10%;
	text-align: center;
	margin: 10px auto 20px;
	border-top: 1px solid #f04f53;

}

.seasonal-recipes .heading{
	font-family: "Harriet Display";
	font-size: 43px !important;
	color: #000;
	text-align: center;
	line-height: 70px;
}

.seasonal-recipes .sr-container{
	display:flex;
	justify-content: center;
}

.sr-container-left, .sr-container-right{
	max-width:350px;
	padding:10px;
	position:relative;
}
.seasonal-recipes .sr-recipe-title{
	font-size:15px;
	text-transform:uppercase;
	background-color: #fff;
	padding: 10px 5px;
	margin-bottom: -10px;
	position: relative;
	font-weight: 700;
	line-height:1!important;
	letter-spacing: 1px;
}

.seasonal-recipes a{
	color: black!important;
}

@media screen and (max-width: 767px){
	.seasonal-recipes .heading{
		font-size: 30px !important;
	}
}

@media screen and (max-width: 480px){
	.seasonal-recipes .sr-container {
		flex-direction: column;
	}

	.sr-container-left, .sr-container-right{
		max-width:none;
	}
}

.sr-title-bar{
	background: linear-gradient(to right bottom, #7a4535, #eed6cd, #7a4535);
	width: 90%;
	text-align: center;
	margin: 0 auto;
	padding: 10px 10px 0;
}

/*WP recipe roundup uneven styles of text*/
.wprm-recipe-summary span{
	font-weight:300;
	font-size:17px;
}

.trending-recipes .eael-grid-post-holder header, .seasonal-home .eael-grid-post-holder header{
	padding: 0 0 7px 0 !important;
}
.recipes-home .eael-entry-title {
	text-transform: uppercase;
}
@media screen and (max-width: 1023px) {
	.trending-recipes__square .eael-entry-thumbnail{
		max-width: 320px;
		margin: 0 auto;
	}
	.trending-recipes__square .eael-entry-overlay {
		max-width: 320px;
		left: 50%;
		transform: translateX(-50%);
	}
}
@media screen and (max-width: 767px) {
	.trending-recipes__square .eael-entry-thumbnail{
		max-width: 174px;
		margin: 0 auto;
	}
	.trending-recipes__square .eael-entry-overlay {
		max-width: 174px;
		left: 50%;
		transform: translateX(-50%);
	}
}

